.messenger__not-confirmed-desc
	background-color: $color_red
	padding 12px $padding
	absolute bottom 0 left 0 right 0
	z-index: 50
	cursor: default
	overflow: hidden
	font-size: 13px
	color #fff
	box-sizing border-box
	.t-link
		color #68CDFF !important

.messenger__content
	margin-right: 300px
