.messenger__new-mess
	background-color: #fff
	padding 10px
	absolute left 0 bottom 0 right 0
	z-index: 20
	box-sizing border-box

.messenger__new-mess__author-avatar
	width: 30px
	height-lineheight(30px)
	absolute left 10px bottom 10px

.messenger__new-mess__textarea
	background-color: #fff
	margin-left: 40px
	padding 5px
	box-shadow $post-border-color 0 0 0 1px
