.fixed-table-header
	height: 100%
	position: relative

.fixed-table-header__header
	width: 100%
	display: table
	background-color: #fff
	border-bottom: 1px solid $border-color
	absolute top 0 left 0 right 0
	z-index: 10

.fixed-table-header__header__item
	padding 10px 5px
	display: table-cell
	vertical-align middle
	font-weight: 600

.fixed-table-header__content
	absolute top 42px left 0 right 0 bottom 0
