.grid-gallery
	position: relative
	font-size: 0

.grid-gallery__item
	overflow: hidden
	background-size cover
	background-position center
	display-inline-block()
	box-shadow rgba(#000, 0.25) 0 0 1px 0px inset

.grid-gallery__solo-item
	display: block
	max-height 360px
	background-size cover
	background-position center
	overflow: hidden
	box-shadow rgba(#000, 0.25) 0 0 1px 0px inset
