.linked-user
	min-height: 40px
	background-color: #fff
	padding 10px 10px 10px 60px
	absolute top 16px left 0
	z-index: 10
	border-radius 2px
	box-shadow rgba(42,73,119, 0.3) 0 3px 10px

.linked-user__photo
	width: 40px
	height-lineheight(40px)
	absolute top 10px left 10px

.linked-user__name
	margin-top: -3px
	display: block
	white-space nowrap
	font-weight 600
	font-size: 13px
	&:hover
		text-decoration underline

.linked-user__role
	font-size: 12px
	font-weight: normal
	color $light-text-color

.linked-user__send-mess-btn
	margin-top: 8px
	text-align: center
	color #fff !important
