.members-autocomplete__item
	height: 40px
	line-height: 40px
	position: relative
	padding-left: 56px !important

.members-autocomplete__item__avatar
	width: 34px
	height: 34px
	absolute top 50% left 8px
	margin-top: -17px
	overflow: hidden

.members-autocomplete__item__username
	font-size: 14px
	white-space nowrap
