.snap__header__info
	span.hp_20
	span.sl-icon.sl-icon-bubble-chat-2.fs_13
	span.hp_8
	span(ng-bind="snap.reply_count || 0")
	span.hp_25
	span.sl-icon.sl-icon-view-1.fs_15
	span.hp_8
	span(ng-bind="snap.view_count || 0")
