.config__header
	position: relative
	padding-left: 80px

.config__logo
	width: 60px
	display: block
	absolute top 0 left 0
	img
		width: 100%

.config__title
	line-height: 20px
	margin-bottom: 8px
	font-weight 600
	font-size: 20px

.config__desc
	font-size: 15px
	color #67727B
