meta(name="description" content="Connecting journalists, editors, fixers and experts. The virtual newsroom designed to increase the amount and quality of information the public receives while also improving journalistic standards.")

// Facebook
meta(property="og:url", content="https://hackpack.press/")
meta(property="og:title", content="HackPack")
meta(property="og:description", content="Connecting journalists, editors, fixers and experts. The virtual newsroom designed to increase the amount and quality of information the public receives while also improving journalistic standards.")
meta(property="og:image", content="https://hackpack.press/data/img/facebook-og-image.jpg")

// Google+
meta(itemprop="name" content="HackPack")
meta(itemprop="description" content="Connecting journalists, editors, fixers and experts. The virtual newsroom designed to increase the amount and quality of information the public receives while also improving journalistic standards.")
meta(itemprop="image" content="https://hackpack.press/data/img/facebook-og-image.jpg")
