.privacy-policy.text

	.fs_30 Privacy policy
	div.
		This Privacy Policy describes the information that HackPack, Inc., a Delaware corporation (“HackPack”, “we” or “us”) collects and how we use that information. This Privacy Policy applies to the services, products and platforms offered by us, as well as any other applications, content or features that we may from time to time offer.
		#[.vp_10]
		The privacy of our members is very important to us.  Please read this Privacy Policy before using the HackPack Service or submitting any personal information. By using our website (the “Website”) or mobile services (collectively, the “HackPack Service”), you are accepting the practices described in this Privacy Policy. These practices may be changed, but any changes will be posted and changes will only apply to activities and information on a going forward, not retroactive basis. You are encouraged to review the Privacy Policy whenever you visit the HackPack Services to make sure that you understand how any personal information you provide will be used.
		#[.vp_10]
		This Privacy Policy hereby incorporates by reference all terms, conditions, rules, policies set forth in the HackPack Terms of Use (“Terms”). Capitalized terms not defined in this Privacy Policy are defined in the Terms.
		#[.vp_10]
		If you have any questions about our Privacy Policy, please contact us at #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].


	.fs_22 Personal information we collect
	div.
		“Personal Information“ is information about you that is personally identifiable to you, like your name, address, email address or phone number, as well as other non-public information that is associated with the foregoing.
		#[.vp_10]
		If you register for an Account with HackPack, we collect and store Personal Information that specifically identifies you or your Account. We will collect the following information:
	ul
		li Your first and last name
		li Your e-mail address
		li Your city and country of residence
		li The languages you know
		li Your previous and current employers
		li Your areas of expertise
		li Your skills
		li Your Risk Tolerance
		li Whether you possess a car
		li How you prefer others to contact you
		li How you prefer to receive payment
		li Your previous works and stories
		li A list of members you’ve designated as references
		li Your personal website
		li Your Twitter account
		li Your Facebook account
		li Your LinkedIn account
		li Your Tumblr account
		li Your YouTube account
		li Your VIMEO account
		li A description of deadlines
		li Your list of technical equipment
		li Your ability to go live during interviews
		li Your desire to collaborate with other organizations
		li Your credit card information
		li Your billing address
	div By submitting Personal Information to us, you agree to the terms of this Privacy Policy and you expressly consent to the processing of your Personal Information according to this Privacy Policy. Your Personal Information may be processed by HackPack in the country where it was collected, as well as other countries (including countries outside the USA) where laws regarding processing of Personal Information may be less stringent than the laws in your country.


	.fs_22 Non-personal information we collect
	b Log Files
	.vp_10
	div As with most other websites, we collect and use the data contained in log files.  The information in the log files includes your IP (internet protocol) address, your ISP (internet service provider), the browser you used to access the HackPack Service, the time you accessed the HackPack Service and which pages you visited throughout our

	.vp_10

	b Cookies
	.vp_10
	i Use of cookies - What is a cookie?
	.vp_10
	div Cookies are pieces of computer code stored on your computer or other mobile/handheld device when you visit certain pages of this web Like most websites, when you visit the Website we may store some cookies on your computer, mobile phone, tablet or other device. Cookies do not contain any personally identifiable information and are not harmful to your computer but can be used to ‘remember’ previous visits to our web

	.vp_10

	i Who sets the cookies?
	.vp_10
	div The cookies stored on your computer or other device when you access this website are set by us. Some cookies may also be set by third parties who participate with us in advertising campaigns to promote this web These third parties do not collect any personal data from which they are able to identify individual customers e.g. name or address, simply that your computer has been used to visit the site before.

	.vp_10

	i What are cookies used for?
	.vp_10
	div By remembering returning visitors, we can improve customers’ shopping experiences, making them more convenient and more tailored to products and offers of interest both on this site and elsewhere. Enabling your cookies while using our website will ensure that we are able to enhance your ordering process, such as remembering items you have already added to your shopping basket, or promotional codes you have entered at checkout. Some cookies are for statistical purposes only. They collect anonymous information about browsing and purchasing behavior which allows us to see which content is popular with our users. ﻿

	.vp_10

	div Cookies may also be set by partner third parties who participate with us in affiliate marketing programs or advertising campaigns. These cookies enable us to offer tailored campaigns, and also ensure we adhere to contractual obligations to reimburse third parties for purchases made via a referral from their  For example, to track and confirm customer cash-back payments via loyalty websites.﻿

	.vp_10

	div A number of cookies we use last only for the duration of your session and expire when you close your Internet browser. Other cookies are used to remember you when you return to our website and will last for longer. We use a mixture of “Persistent” and “Session” cookies on our website as follows:

	ul
		li Session cookies are files which allow the Website to link your actions during a single browser session. They are not stored long-term on your device; and
		li Persistent cookies are cookies which remain on your device between sessions and allow the Website to remember details about you.

	div.
		We use cookies to track our website usage and trends, to improve the quality of our website and to customize, personalize and enhance your experience on our web
		We also use cookies (and we may use other such devices, including ‘web beacons’ or ‘tracking pixels’, which are used to count the number of times a page has been viewed) to monitor the frequency of use and specific usage within any part of our website and use the information for statistical purposes, to improve our services, create new features, fix bugs and to more accurately meet your preferences.
		The cookies we store make use of the information entered during the Website registration process and are used to identify you when you do things like update your accounts details (the name, address and so on).
			We use cookies for the following purposes:

	.vp_10

	table
		tr
			td Cookie Type
			td Purpose
		tr
			td Essential Operational/Session Management Cookies
			td These cookies are necessary to allow us to operate the Web Without the use of these cookies parts of the Website would not function correctly. These cookies, for example, let us recognize whether you are a subscriber and what type of subscriber you are and then provide you with the services which you are entitled to. These cookies also allow you to move easily from one page to another within the Website and your page requests are loaded in a smooth and secure manner without you having to re-enter your details
		tr
			td Analytical Performance Cookies
			td These cookies are used by us and/or our business partners to analyze how the Website is used, including for example how users navigate through the Web The cookies also let us monitor how the Website is performing. These cookies do not let us identify users (the information collected is anonymous) and we combine the information which they provide us. We use this information to maintain, operate and continually improve the Web
		tr
			td Functionality Cookies
			td These cookies let us operate certain functions of the Website in line with the choices you make. These cookies mean that when you come back to the Website we can provide you with our services as you have asked for them to be provided, such as knowing your user name, remembering how you have customized our services.
	.vp_10
	div.
		Our website uses Google doubleclick, adwords and analytics cookies across a 30-day window.
		These are used to determine user behavior across the website and serve appropriate adverts through
		display and remarketing to visitors and customers of our web
		#[.vp_10]
		Further information is available at #[a(href="http://www.google.com/policies/technologies/ads/", target="_blank") google.com/policies/technologies/ads]
		and #[a(href="http://www.google.com/analytics/learn/privacy.html", target="_blank") www.google.com/analytics/learn/privacy.html].

	.vp_10

	i How to disable cookies?
	.vp_10
	div.
		If you want to prevent our website from capturing data about your visits, you will need to change your website browser settings to ‘block’ cookies, but please be aware that this may restrict your user experience.
		To do this, these settings will typically be found in the “option” or “preferences” menu on your Internet browser.
		#[.vp_10]
		We provide below on how to disable cookies for the most popular browsers and you can also use the “Help” option in your browser for more details.


	.fs_22 Transactional Information
	div.
		Certain features may be available for a fee, such as purchase of products through the HackPack Service. In processing payment for such services, whether, we will collect certain information necessary to complete your purchase (“Transactional Information”). This information may include your name, billing address, email address, phone number, and credit card information, such as type of credit card, name on card, card number, validation number, and expiration date. We may retain Transactional Information as long as is necessary to fulfill the purposes specified in this Privacy Policy and for recordkeeping, subject to statutory or regulatory retention requirements and legitimate business needs.


	.fs_22 What we use your information for
	div.
		The information we collect to understand your needs and interests helps us deliver a consistent and personalized experience. For example, we may use your information to:
	ul
		li create and maintain your account
		li prevent and detect fraud or other malicious activity;
		li communicate with you about our services and features;
		li allow other users to communicate with you;
		li provide service and support;
		li update you on new services and features
	div.
		We will not sell, rent or lease your Personal Information to third parties.
		#[.vp_10]
		By providing us your email address, you consent to our using that email address to send you HackPack-related notices, including any notices required by law, in lieu of communication by snail mail.


	.fs_22 How we protect your information
	div.
		To prevent unauthorized access or disclosure, to maintain data accuracy, and to ensure the appropriate use of the information, we utilize appropriate physical, technical and administrative procedures to safeguard the information we collect, including encryption of passwords stored on our servers.
		#[.vp_10]
		Although we try our best to prevent unauthorized access or disclosure, please be aware that there are risks inherent in sharing information and that no security measures are perfect or impenetrable. We cannot control the actions of other users with whom you share your information. We cannot guarantee that only authorized persons will view your information. We cannot ensure that information you share on the HackPack Service will not become publicly available. We are not responsible for third party circumvention of any privacy settings or security measures on the HackPack Service. You can reduce these risks by using common sense security practices such as choosing a strong password, using different passwords for different services, and using up to date antivirus software.


	.fs_22 Discloser of your information to third parties
	div.
		HackPack cooperates with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud, theft, harassment and other rights. We can (and you authorize us to) disclose any information about you, including the content of your online communications, if we believe in good faith that such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on us; (b) protect or defend the rights or property of HackPack or third parties; (c) assist in an investigation; or (d) respond to an emergency that poses a threat to the safety of users or other persons.
		#[.vp_10]
		We may provide third parties with aggregate statistics about our members, traffic patterns, and related web information. This data reflects HackPack Service usage patterns gathered during access to the HackPack Service each month but does not contain behavioral or identifying information about any individual member, unless that member has given us permission to share that information. We may also provide log files and other databases of user information to third parties for analysis, so we can get a better understanding of traffic through the HackPack Service.
		#[.vp_10]
		We may also use third party advertisements on the HackPack Service to support the HackPack Service.  Some of these advertisers may use technology such as cookies and web beacons when they advertise on the HackPack Service, which will also send these advertisers (such as Google through the Google AdSense program) information including your IP address, your ISP , the browser you used to visit our Site, and in some cases, whether you have Flash installed.
		#[.vp_10]
		If the ownership of all or substantially all of our company changes, we may transfer your information to the new owner so that the service can continue to operate. In such a case, your information would remain subject to the promises made in any pre-existing Privacy Policy.


	.fs_22 Access and accuracy of your information
	div.
		We strive to keep your personal information accurately recorded. We have implemented technology, management processes and policies to help maintain data accuracy. We provide our members with reasonable access to personal information that they provided to us and the reasonable ability to review and correct it or ask for its deletion, as applicable. To protect your privacy and security, we will also take reasonable steps to verify your identity, such as requiring a password and user ID, before granting access to your data.
		#[.vp_10]
		To view and change the personal information that you directly provided to us, please contact us at #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].


	.fs_22 Closing Your Account
	div.
		We save your Personal Information until your Account with us is closed and you unsubscribe to email notifications. To close your Account, contact #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press]. If you close your Account, your Personal Information cannot be recovered. You may continue to receive email communications for a short period of time until we have updated all of our databases. After your Account is closed, your Personal Information may remain on our archived database and records. Notwithstanding the above, we will maintain information on Users who have been removed for violating our Terms.


	.fs_22 Transfer of Data Abroad
	div.
		If you are accessing the HackPack Service from a country other than the country in which our servers are located, your communications with us may result in the transfer of information across international boundaries.  By using the HackPack Service and communicating electronically with us, you consent to such transfers.


	.fs_22 Linked Sites
	div.
		We may provide links on the HackPack Service to other sites of interest; however, we do not review or endorse the content of these sites, and are not responsible for the privacy policies of the HackPack Service to which the HackPack Service links. If you provide any information to such third parties, different rules regarding the collection and use of your personal information may apply. We strongly suggest you review such third party's privacy policies and terms of use before providing any data to them. You should contact these entities directly if you have any questions about their use of the information that they collect.


	.fs_22 Investigations
	div.
		We may investigate and disclose information from or about you if we have a good faith belief that such investigation or disclosure is (a) reasonably necessary to comply with legal process and law enforcement instructions and orders, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; (b) helpful to prevent, investigate, or identify possible wrongdoing in connection with the HackPack Service; or (c) protect our rights, reputation, property, or that of our users affiliates, or the public.


	.fs_22 Controlling Your Personal Data
	div.
		Other Users may be able to identify you, or associate you with your account if you include personal information in Your Content. You can reduce the risk of being personally identified by using the HackPack Service Privacy Settings and limiting who can see personal information. You can also use the site pseudonymously, though doing so could detract from the credibility of your contributions to the HackPack Service.
		#[.vp_10]
		Please also note that the messages you send or receive using the HackPack Service are only private to the extent that you and the sender/recipient keep them private. For example, we do not have any control over whether a recipient of one of your personal messages publicly posts it or its contents


	.fs_22 Regarding Children
	div.
		We do not intentionally gather Personal Information about visitors to the HackPack Service who are under the age of 13.


	.fs_22 Terms and Conditions
	div.
		Please also visit our Terms of Use section establishing the use, disclaimers, and limitations of liability governing the use of our Site at #[a(ng-href="https://hackpack.press/terms-of-use/") www.hackpack.press/terms-of-use/]


	.fs_22 Your consent
	div.
		By using the HackPack Service, you agree to the terms of this Privacy Policy as they may be amended as necessary. If you use the HackPack Service your visit and any dispute over privacy is subject to this Privacy Policy and our Terms, which include limitations on damages and application of the law of Delaware.


	.fs_22 Changes to our Privacy Policy
	div.
		If we change our privacy policy, we will post the revised policy statement here, with an updated revision date. If we make significant changes to our statement, we may also notify all members whose personal information we have retained by other means, such as sending an email or posting a notice on our home page.


	.fs_22 Contacting Us
	div.
		If there are any questions regarding this privacy policy you may contact us at #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press]. In order for us to take the appropriate action please describe in reasonable detail the nature of your request or inquiry.

.vp_50
