.privacy-policy.text

	.fs_30 Политика конфиденциальности
	div.
		Эта политика конфиденциальности описывает то, какую информицию HackPack Inc
		(Корпорация из штата Делавэр, США, далее “мы”) собирает и каким образом мы ее
		используем. Эта политика конфиденциальности распространяется на сервисы,
		продукты и платформы, которые мы предоставляем, а также на другие приложения,
		контент или услуги, которые мы можем предоставлять время от времени.
		#[.vp_10]
		Конфиденциальность наших членов очень важна для нас. Пожалуйста, прочитайте этот
		документ, перед тем как использовать HackPack Service или делиться какой-либо
		личной информацией. Используя наш веб-сайт (далее “сайт”) или наши мобилные
		приложения (общее название - HackPack Service), Вы принимаете те практики, которые
		описаны в этой политике конфиденциальности. Эти практики могут быть изменены, но
		любые изменения будут опубликованы, а также будут прилагаться только к новым
		видам деятельности и информации  и не будут иметь обратную силу. Мы советуем Вам
		просматривать политику конфиденциальности каждый раз, когда Вы посещаете сайт,
		чтобы убедиться, что Вы понимаете, как мы используем любую личную информацию,
		предоставленную нам.
		#[.vp_10]
		Данная политика конфиденциальности включает в себя все положения, условия,
		правила и принципы деятельности, отраженные в Условиях использования сайта
		HackPack Services. Правила, описанные с заглавной буквы, и не расписанные в данном
		документе, определены в Уславиях использования сайта.
		#[.vp_10]
		Если у Вас возникнут какие-либо вопросы относительно нашей политики
		конфиденциальности, пожалуйста, свяжетись с нами по email #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].


	.fs_22 Личная информация, которую мы собираем
	div.
		“Личная информация” - это информация о Вас, которая позволяет установить Вашу
		личность, например, Ваше имя, адрес, email, номер телефона, а также любая
		непубличная информация, связанная с вышеизложенным. Если Вы регистрируете
		аккаунт на HackPack, мы собираем и сохраняем личную информацию, которая
		идентифицирует Вас и Ваш аккаунт. Мы соберем следующую информацию:
	ul
		li Ваше имя и фамилию
		li Ваш email адрес
		li Страну и город Вашего пребывания
		li Языки, которыми Вы владеете
		li Ваш предыдущий и нынешний работодатель
		li Сферы Вашей компетенции
		li Ваши навыки
		li Толерантность к риску и опасности
		li Имеется ли у  Вас машина
		li Как Вы предпочитаете, чтобы другие связывались с Вами
		li Как Вы предпочитаете получать денежное вознаграждение
		li Ваши работы и опубликованные материалы
		li Список членов, которых Вы определили как лиц, рекомендовавших Вас
	div.
		Предоставляя нам личную информацию, Вы соглашаетесь с положениями данной
		политики конфиденциальности и Вы таким образом в явно выраженной форме
		соглашаетесь на обработку Вашей личной информации согласно правилам данной
		политики конфиденциальности. Ваша личная информация будет обрабатываться
		HackPack в стране, где она была получена, а также в других странах ( за границами
		США), где законодательдство в области обработки  личной информации может быть
		менее строгим, чем законы в Вашей стране.


	.fs_22 Информация неличного характера, которую мы собираем
	b Лог-файлы
	.vp_10
	div.
		Как и большонство других сайтов, мы собираем и используем информацию,
		содержащуюся в лог-файлах. Информация в лог-файлах включает в себя Ваш IP адрес,
		Ваш интернет-провайдер, браузер, который вы использовали, чтобы войти на HackPack,
		время, когда Вы зашли на портал, а также то, какие веб-страницы Вы посетили на
		нашем сайте.

	.vp_10

	b Cookies
	.vp_10
	i Использование cookie - Что такое cookie?
	.vp_10
	div.
		Cookie – это элементы компьютерного кода, которые сохраняются на Вашем
		компьютере или другом мобильном / карманном устройстве, когда Вы посещаете
		какие-то страницы сайта. Как и большинство веб-сайтов, когда Вы посещаете наш Веб-
		сайт, мы можем сохранить cookies на Вашем компьютере, мобильном, планшете или
		другом устройстве. Cookies не содержат никакой личной информации и не наносят
		вред Вашему компьютеру, но могут быть использованы , чтобы “запомнить”
		предыдущие заходы на наш сайт.

	.vp_10

	i Кто устанавливает cookies?
	.vp_10
	div.
		Куки, которые сохраняются на Вашем компьютере или на другом устройстве, когда Вы
		заходите на этот Сайт, устанавливаются нами. Некоторые файлы куки могут также
		устанавливаться третьими лицами, которые также участвуют вместе с нами в
		рекламных кампаниях для продвижения этого сайта. Третьи лица не собирают никакие
		личные данные, по которым можно было бы идентифицировать индивидуальных
		пользователей, то есть имя, адрес и т.д., а только то, что Ваш компьютер был
		использован, чтобы зайти на Сайт ранее.

	.vp_10

	i Для чего используются cookies?
	.vp_10
	div.
		Запоминая возвращающихся пользователей, мы можем улучшить качество
		обслуживания клиента, делая его опыт более удобным и более адаптированным в
		отношении к продуктам и предложениям, как на сайте, так и на на других платформах.
		Включая куки во время использования нашего сайта Вы даете нам возможность
		улучшить процесс заказа, запоминая те товары, которые Вы уже добавили в корзину, а
		также промо-коды, которые Вы ввели до того, как уйти с сайта. Некоторые файлы куки
		используются только для статистических целей. Они собирают информацию об опыте
		веб-браузинга и покупательских привычках, чтобы мы могли узнать, какой контент
		популярен среди наших пользователей.
		#[.vp_10]
		Куки-файлы также могут устанавливаться нашими парнерами, которые участвуют
		вместе с нами в программах  маркетингового сотрудничества или в рекламных
		кампаниях. Эти куки-файлы позволяют нам предлагать специализированные кампании,
		а также гарантируют, что мы соблюдаем обязательства по контрактам третьих сторон
		при покупках, сделанных посредством механизма переадресации на их сайте.
		Например, для того чтобы отслеживать и подтверждать платежи cashback через
		лояльные веб-сайты.
		#[.vp_10]
		Некоторые куки, которые мы используем, действуют только в течение Вашего
		нахождения на сайте и не функционируют, когда Вы закрываете Ваш Интернет
		браузер. Другие куки-файлы используются, чтобы запомнить Вас, когда Вы
		возвращоатесь на наш Сайт и существуют дольше. Мы используем смесь постоянных и
		временных куки-файлов следующим образом:
	ul
		li.
			Временные куки – это файлы, которые позволяют веб-сайту связать Ваши действия в
			течение одного интенет-сеанса. Они не сохраняются долгосрочно на Вашем устройстве.
		li.
			Постоянные куки – это куки-файлы, которые остаются на Вашем устройстве между
			интенет-сеансами и позволяют веб-сайту запомнить информацию о Вас.
	div.
		Мы используем куки-файлы, чтобы отслеживать особенности использования нашего
		сайта, а также тенденции, чтобы улучшить качество нашего сайта и кастомизировать,
		персонализировать и улучшить Ваш опыт потребления сайта. Мы также используем
		куки-файлы ( мы можем также использовать другие устройства, как “веб-маяки” и
		“пиксели слежения”), которые помогают отслеживать количество просмотров одной
		страницы), чтобы мониторить частоту использования и специфику использования в
		любой части веб-сайта и использовать информацию для статистических целей, чтобы
		улучшить наши услуги, создавать новые возможности, исправлять ошибки и более
		точно соответствовать предпочтениям клиента.
		#[.vp_10]
		Кику-файлы,которые мы сохраняем, хранят информацию, введенную во время
		регистрации на веб-сайте и используются, чтобы идентифицаровать Вас, когда Вы
		обновляете свой профиль (изменяете имя, адрес и т.д.)
		#[.vp_10]
		Мы используем куки для следующих целей:
	.vp_10
	table
		tr
			td Тип куки-файла
			td Цель
		tr
			td Куки-файлы управления сайтом
			td.
				Эти куки-файлы необходимы нам для управления веб-сайтом. Без использования этих куки некоторые
				части сайта будут функционировать неправильно. Например, эти куки позволяют нам понять, являетесь ли Вы
				подписчиком, каким типом подписчика Вы являетесь, а потом предоставить Вам услуги, которые Вам полагаются. Также
				эти куки-файлы позволяют Вам легко перемещаться с одной страницы на другую в рамках веб-сайта, а также
				Ваши запросы страниц загружаются в безопасном и плавном режиме без необходимости повторного введения Ваших даных.
		tr
			td Аналитические куки-файлы
			td.
				Эти куки-файлы используются нами или нашими бизнес партнерами, чтобы анализировать особенности использования веб-сайта.
				Также эти  куки позволяют нам мониторить работу сайта. Данный тип куки файлов не дает нам возможность идентифицировать
				пользователей (собираемая информация является анонимной). Мы объединяем информацию, которую они нам
				предоставляют. Мы используем эту информацию, чтобы обслуживать, управлять и постоянно улучшать веб-сайт.
		tr
			td Функциональные куки
			td.
				Этот тип куки-файлов позволяет нам выполнять определенные функции веб-сайта в соответствии с тем выбором,
				который Вы делаете. С помощью этого типа файлов мы можем предоставить Вам услуги, которые Вы запросили,
				когда Вы возвращаетесь на сайт. Например, знание Вашего имени пользователя, сохранение информации об особенностях кастомизации.
	.vp_10
	div.
		Наш веб-сайт использует Goodle Doubleclick и Google Adwords, а также аналитические
		куки-файлы в течение тридцатидневного периода. Они применяются, чтобы определить
		поведение пользователя на веб-сайте, а также отображать подходящую рекламу для
		посетителей и клиентов нашего сайта.
		#[.vp_10]
		Более подробную информацию можно найти на:
		#[a(href="http://www.google.com/policies/technologies/ads/", target="_blank") google.com/policies/technologies/ads]
		и #[a(href="http://www.google.com/analytics/learn/privacy.html", target="_blank") www.google.com/analytics/learn/privacy.html].

	.vp_10

	i Как отключить куки?
	.vp_10
	div.
		Если Вы хотите запретить нашему веб-сайту собирать данные о Ваших визитах, Вам
		нужно будет изменить настройки Вашего браузера и указать “блокировать куки”,
		однако обратите внимание на то, что это может помешать Вам нормально пользоваться
		сайтом. Чтобы сделать это, Вам нужно будет найти строку “Options”или “Preferences” в
		меню Вашего браузера. Ниже мы описываем то, как можно отключить куки-файлы в
		наиболее популярных браузерах. Вы можете также воспользоваться кнопкой Help в
		Вашем браузере.

	.fs_22 Информация о транзакциях
	div.
		Некоторые услуги могут быть предоставлены за плату, как например, покупка товаров
		через HackPack Service. Обрабатывая платеж за такие услуги, мы будем собирать
		некоторую информацию, необходимую для того, чтобы завершить Вашу покупку. Эта
		информация может включать в себя Ваше имя, адрес приема платежей, email адрес,
		телефон, информация по кредитной карте, например, имя держателя карты, номер
		карты, секретный код и дату окончания срока действия карты. Мы можем сохранять
		информацию о транзакциях настолько долго, насколько необходимо, чтобы выполнить
		те цели, которые заложены в этом документе, а также для ведения учетной
		документации, которая подвергается законодательному или регулирующему контролю,
		а также для законных деловых целей.

	.fs_22 Для чего мы используем Вашу информацию
	div.
		Информация, которую мы собираем, чтобы понять Ваши потребности и интересы,
		позволяет нам предоставить корректный и персонализированный опыт потребления.
		Например, мы можем использовать информацию, чтобы:
	ul
		li Создавать и поддерживать Ваш аккаунт
		li Предотвращать и отслеживать мошенничество и другие вредоносные виды деятельности
		li Общаться с Вами о наших услугах
		li Предоставлять сервис и поддержку
		li Отправлять обновления о новых сервисах и приложениях
	div.
		Мы не будем продавать, сдавать в аренду или внаем Вашу информацию третьим лицам.
		#[.vp_10]
		Предоставляя нам Ваш email адрес, Вы соглашаетесь с тем, что мы будем использовать
		Ваш email, чтобы отправлять Вам уведомления, связанные с HackPack, а также любые
		сообщения, предусмотренные законом, вместо коммуникации по обычной почте.

	.fs_22 Как мы охраняем Вашу информацию
	div.
		Чтобы предотвратить несанкционированный доступ или разглашение информации ,
		чтобы сохранить точность данных и обеспечить правильное использование
		информации, мы используем соответствующие физические, технические и
		административные процедуры, чтобы обеспечить безопасность информации, которую
		мы собираем, включая шифровка паролей, сохраненных на наших серверах.
		#[.vp_10]
		Хотя мы делаем все возможное, чтобы предотвратить несанкционированный доступ
		или разглашение, пожалуйста, имейте в виду, что существуют риски при совместном
		использовании информации, и нет таких мер предосторожности, которые были бы
		идеальны и обеспечивали бы стопроцентную защиту.
		#[.vp_10]
		Мы не можем контролировать действия других пользователей, с которыми Вы делитесь
		информацией. Мы не можем гарантировать, что только авторизованные пользователи
		будут просматривать Вашу информацию. Мы не можем гарантировать, что
		информация, которой Вы делитесь на HackPack,не станет общедоступной. Мы не несем
		ответственность за обход третьми лицами любых настроек приватности или мер
		безопасности на HackPack Service. Вы можете снизить эти риски, используя общие
		принципы и меры безопасности, как выбор сильного пароля, использование различных
		паролей для различных сервисов и применение обновленного антивирусного
		программного обеспечения.

	.fs_22 Раскрытие Вашей информации третьим сторонам
	div.
		HackPack сотрудничает с организациями правопорядка, а также с третьими сторонами
		для обеспечения исполнения законов,например, интеллектуальных прав собственности,
		препятствуют обману, краже, домогательствам, а также других прав. Мы можем, и Вы
		нас уполномочили это сделать, распространять информацию о Вас, включая
		содержание Ващей онлайн коммуникации, если A) мы считаем, что ее разглашение
		необходимо для соблюдения соответствующих законов или необходимо при ответе на
		повестку в суд или приказ, предъявленный нам; b) чтобы защитить права или
		имущество HackPack или третьих сторон;c) чтобы содействовать расследованию; или d)
		ответить на чрезвычайную ситуацию, которая угрожает безопасности пользователям
		или другим сторонам.
		#[.vp_10]
		Мы можем предоставить третьим сторонам статистику о наших пользователях,
		особенностях трафика и связанные с этим веб-данные. Эта информация отражает то,
		каким образом используется HackPack Service, она собирается во время доступа к
		HackPack каждый месяц, но не содержит информацию о действиях пользователя, а
		также не идентифицирует его как индивидуального пользователя, если этот
		пользователь не дал нам разрешение на распространение этой информации. Мы также
		можем предоставить лог-файлы и другие базы данных с пользовательской
		информацией третьим сторонам для анализа, чтобы лучше понимать траффик на
		HackPack Service.
		#[.vp_10]
		Мы также можем использовать рекламу третьих сторон на HackPack Service, чтобы
		поддержать HackPack Service. Некоторые из этих пользователей могут использовать
		такие технологии, как куки-файлы и веб-маяки, когда они размещают рекламу на
		HackPack Service, что также отправит этим рекламодателям (таким, как Google, через
		программу AdSense) информацию, включающую Ваш IP адрес, Ваш интернет-
		провайдер, браузер, который Вы использовали, чтобы посетить наш сайт, а также
		данные о том, установлен ли на Вашем устройстве Flash.
		Если структура собственности нашей компании изменится полностью или значительно,
		мы можем переслать Вашу информацию новому владельцу, чтобы сервис мог
		продолжить свою работу. В таком случае Ваша информация будет обрабатываться в
		соответствии с правилами, описанными в существовавших ранее документах о
		политике конфиденциальности.

	.fs_22 Доступ и точность Вашей информации
	div.
		Мы стараемся сделать так, чтобы Ваша информация была верно сохранена. Мы
		внедрили технологию, процедуры управления и другие методы действия, которые
		способствуют сохранению точности данных. Мы предоставляем нашим членам
		достаточно хороший доступ к личной информации, которую они дали нам, достаточно
		хорошую возможность пересматривать и исправлять ее, а также делать запрос о ее
		удалении в зависимости от обстоятельств. Чтобы сохранить Ваше личное пространство
		и безопасность, мы также будем предпринимать необходимые шаги, чтобы проверить
		Вашу личность, включая запрос пароля и идентификатора пользователя до
		предоставления доступа к Вашим данным.
		#[.vp_10]
		Чтобы посмотреть и изменить ту личную информацию, которую Вы предоставили
		непосредственно нам, пожалуйста, свяжитесь с нами по email адресу #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].


	.fs_22 Закрытие Вашего аккаунта
	div.
		Мы сохраняем Вашу личную информацию до тех пор, пока Ваш аккаунт не будет
		закрыт и Вы не откажетесь от подписки на уведомления. Чтобы закрыть Ваш аккаунт,
		отправьте email на #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].
		Если Вы закрыли свой аккаунт, Вашу личную информацию невозможно будет восстановить.
		Вы можете получать обновления по электронной почте в течение короткого периода времени,
		пока мы не обновим наши базы данных. После закрытия Вашего аккаунта, Ваша личная
		информация может оставаться на наших заархивированных базах данных. Независимо
		от вышесказанного, мы будем сохранять информацию о пользователях, которые были
		удалены за нарушение наших Правил.


	.fs_22 Трансфер данных за границу
	div.
		Если Вы заходите на HackPack Service из страны, отличной от той, в которой находятся
		наши серверы, Ваше общение с нами может привести к трансферу информации через
		международные границы. Используя HackPack Service и общаясь электронным образом
		с нами, Вы сограшаетесь на этот трансфер.


	.fs_22 Связанные сайты
	div.
		На HackPack Service мы можем предоставлять ссылки на другие сайты,
		представляющие интерес. Однако мы не проверяем или одобряем контент этих сайтов,
		и мы не несем ответственность за политику конфиденциальности этих сайтов. Если Вы
		предоставляете информацию таким третьим сторонам, другие правила относительно
		сбора и использования данных могут применяться. Мы настоятельно рекомендуем,
		чтобы Вы проверяли политику конфиденциаьлности таких третьих сторон и их условия
		пользования сайта, до того как Вы предоставите какую-либо информацию им. Вам
		следует обратиться к этим организациям напрямую, если у Вас есть вопросы
		относительно того, как они используют собранную информацию.


	.fs_22 Расследования
	div.
		Мы можем расследовать или разгласить информацию от Вас или о Вас, если у нас есть
		достоверное предположение, что такое расследование или разглашение a) необходимо
		для соблюдения  предписаний юридического характера, а также выполнить
		предписания различных приказов, таких как ордер, повестка с вызовом в суд,
		законодательный акт, судопроизводство, или другой юридический процесс, в котором
		мы участвуем; b)необходимы для предотвращения, расследования, или установления
		возможных правонарушений, связанных с HackPack Service; или c) при необходимости
		защитить наши права, репутацию, собственность, или наших пользователей, коллег или
		общественности.


	.fs_22 Контроль за Вашими личными данными
	div.
		Другие пользователи могут идентифицировать Вас или связать Вас с Вашим
		аккаунтом, если Вы включаете личную информацию в Ваш контент. Вы можете
		снизить риск идентификации, используя настройки конфиденциальности HackPack, и
		ограничить круг лиц, которые могут видеть Вашу личную информацию. Вы также
		можете использовать сайт под псевдонимом, хотя это может умалить достоверность
		Ваших публикаций на HackPack Service.
		#[.vp_10]
		Пожалуйста, также отметьте, что сообщения, которые Вы отправляете и получаете на
		HackPack Service являются конфиденциальными в той мере, в которой Вы и
		получатель/ отправитель оставляeтe их конфиденциальными. Например, мы не можем
		контролировать то, публикует ли получатель содержание некоторых Ваших личных
		сообщений публично.


	.fs_22 Политика относительно детей
	div.
		Мы не собираем намеренно личную информацию о посетителях HackPack Service, которым меньше 13 лет.


	.fs_22 Условия и положения
	div.
		Пожалуйста, посмотрите наш раздел “Договор пользования”, в котором описаны
		использование, отказ от гарантий, а также ограничения ответственности при
		использовании нашего сайта #[a(ng-href="https://hackpack.press/terms-of-use/") www.hackpack.press/terms-of-use/]


	.fs_22 Ваше согласие
	div.
		Используя HackPack Service, Вы соглашаетесь с правилами этой политики
		конфиденциальности, которые могут быть пересмотрены при необходимости.
		Если Вы используете HackPack Service, любые споры относительно
		конфиденциальности подчиняются этой политике конфиденциальности и нашим
		Условиям пользования, которые включают ограничение ответственности за
		нанесенный ущерб, а также применение закона штата Делавэр.


	.fs_22 Изменения нашей политики конфиденциальности
	div.
		Если мы будем вносить изменения в нашу политику конфиденциальности, мы
		опубликуем пересмотренный документ здесь, указывая дату обновления. Если мы
		внесем значительные изменения в документ, мы также можем уведомить всех
		пользователей, чью личную информацию мы сохранили, и другим способом, например,
		посредством email или опубликовав уведомление на нашей стартовой странице.


	.fs_22 Как связаться с нами
	div.
		Если у Вас возникли вопросы относительно этой Политики конфиденциальности, Вы
		можете связаться с нами по email #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].
		Чтобы мы могли предпринять соответствующие действия, пожалуйста, опишите подробно природу Вашего запроса или просьбы.

.vp_50
