.privacy-policy.text

	.fs_30 Условия использования сайта

	.notifier.error
		b.fs_16.
			ВАЖНО! ПОЖАЛУЙСТА, ПРОЧИТАЙТЕ ВНИМАТЕЛЬНО ЭТИ ПРАВИЛА ПОЛЬЗОВАНИЯ, ТАК КАК
			ОНИ ЗАТРАГИВАЮТ ВАШИ ЮРИДИЧЕСКИЕ ПРАВА И ОБЯЗАННОСТИ
		.vp_10
		div.
			Пожалуйста, прочитайте внимательно следующие положения этого Договора о
			пользовании (далее “Договор” или “Условия пользования”). Это юридический договор
			между Вами и HackPack, Inc., корпорацией штата Делавэр,США (далее “HackPack”, ”мы”)
			относительно использования сайта #[a(ng-href="https://hackpack.press") www.hackpack.press],
			мобильной и тач-версий, а также любых индивидуальных сайтов, коммерческих, городских или
			региональных сайтов, которые у нас есть сейчас или будут в будущем (под
			коллективным названием HackPack Service). Чтобы пользоваться HackPack Service, Вы
			должны принять наши правила пользования.



	.fs_22 Принятие правил пользования
	div.
		Используя HackPack Service, Вы (далее “Вы” или “Пользователь”) согласны со
		следующими Правилами пользования и Политикой конфиденциальности (ее
		можно найти на www.hackpack.press/privacy.html), а также любыми
		дополнительными положениями, относящиесящимися к определенным
		программам, в которых Вы можете решить участвовать, а также в отношении
		любой части HackPack Service, так как любые из вышеуказанных программ могут
		появляться время от времени.
		#[.vp_10]
		ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ЭТИМИ ПРАВИЛАМИ ПОЛЬЗОВАНИЯ, ВЫ ДОЛЖНЫ
		НЕМЕДЛЕННО ПЕРЕСТАТЬ ПОЛЬЗОВАТЬСЯ HACKPACK SERVICE.


	.fs_22 Изменения в правилах сервиса
	div.
		Мы оставляем за собой право в любой момент прекратить или изменить любую
		часть Правил пользования, если мы считаем это необходимым или
		желательными. Мы советуем Вам проверять наши Правила пользования время
		от времени, чтобы убедиться, что Вы в курсе любых изменений на HackPack
		Service. Если Вы используете HackPack Service, это автоматически значит, что Вы
		согласны с измененными положениями. Мы также оставляем за собой право
		изменить или отменить любой аспект  или технические характеристики HackPack
		Service, в том числе требования к доступу и использованию.


	.fs_22 Собственность на HackPack Service
	div.
		В соответствии с договоренностями между нами, Вы являетесь собственником
		Вашего контента ( согласно приведенному ниже определению). Мы явялемся
		собственниками нашего контента, в том числе визуальных интерфейсов,
		интерактивных услуг, графики, дизайна, программы-траснляторы,
		компьютерного кода, продуктов, програмного обеспечения, мобильных
		приложений, рейтингов посещения пользователей, а также любых других
		элементов HackPack Service, исключая Ваш контент, пользовательский контент, а
		также ( согласно приведенному ниже определению) любой другой контент,
		опубликованный на HackPack Service. Мы также обладаем авторскими правами
		на торговый знак, знаки обслуживания, торговое название, а также на другие
		интеллектуальные права и права собственности по всему миру (“Права IP”),
		ассоциированные с нашим контентом и HackPack Service, которые защищены
		авторскими правами, законодательством в сфере фирменного стиля, патентов,
		товарных знаков, а также другими интелектуальнеми правами и правами
		собственности. Таким образом, Вы не имеете права изменять, воспроизводить,
		распространять, создавать производные продукты или адаптации, а также
		публично представлять или каким-либо образом эксплуатировать наш конент
		целиком или частями, за исключением случаев, когда мы дали на то свое
		согласие. За исключением случаев ясно и недвусмысленно описанных здесь, мы
		не предоставляем Вам прямых или подразумеваемых прав, все права в
		отношении HackPack Service остаются за нами.


	.fs_22 Использование HackPack Service
	ul
		li
			.fs_18 Наличие права
			.vp_10
			div.
				Чтобы получить доступ и использовать HackPack Service, Вам должно быть не
				менее 18 лет или больше, Вы должны быть совешеннолетним, согласно законам
				Вашей страны. Вы также должны обладать необходимыми правами и
				полномочиями, чтобы вступить в этот договор. Любой факт использования или
				доступа к сайту HackPack Service человеком младше 18 лет строго запрещен и
				нарушает данные Правила пользования. Если Вам меньше 18 лет, пожалуйста,
				не пробуйте зарегистрироваться на HackPack Service или отправлять какую-либо
				информацию о Вас нам, включая Ваше имя, Ваш адрес, телефонный номер или
				email адрес. Если мы узнаем, что мы собрали личную информацию о
				пользователе, которому меньше 18 лет, мы удалим эту информацию как можно
				скорее. Вы не можете использовать HackPack Service, если Вы являетесь нашим
				конкурентом или если мы до этого заблокировали Вас или удалили Ваш аккаунт.
		li
			.fs_18 Разрешение пользоваться HackPack Service
			.vp_10
			div.
				Мы даем Вам разрешение использовать HackPack Service, на которое
				распространяются ограничения, описанные в этих Правилах пользования.
				Используя HackPack Service, Вы подвергаете себя осознанно риску, включая риск
				столкнуться с контентом, который является оскорбительным, неприличным,
				недостоверным, необъективным или другим образом неуместным.
		li
			.fs_18 Доступность сайта
			.vp_10
			div.
				HackPack Service может быть изменен, обновлен, прерван, приостановлен или
				прекращен окончательно в любое время без необходимости предварительного
				уведомления или какой-либо ответственности.
		li
			.fs_18 Пользовательские аккаунты
			.vp_10
			div.
				Вы должны создать аккаунт и предоставить определенную информацию о себе,
				чтобы пользоваться теми услугами, которые предлагаются через HackPack
				Service. Вы несете ответственность за соблюдение конфиденциальности в
				отношении Вашего пароля. Также Вы несете ответственность за все действия,
				которые связаны с Вашим аккаунтом. Вы обязуетесь немедленно нас известить
				о любом несанкционированном использовании Вашего аккаунта. Вы не имеете
				права использовать чужой аккаунт без разрешения. Мы оставляем за собой
				право закрыть Ваш аккаунт в любое вреля по какой бы то ни было причине.
				#[.vp_10]
				HackPack Service доступен через Facebook или Twitter, что требует
				существование активного аккаунта с необходимыми сервисами, и Вы
				нижеследующим подтверждаете и гарантируете, что Вы прочитали и
				согласились быть связанными всеми применимыми правилами,
				регламентирующими пользование таких сервисов, а также будете действовать в
				соответствии с этими правилами в добавок к Вашим обязательствам согласно
				этим Правилам пользования. Когда Вы заходите на сайт HackPack Service через
				Facebook и Twitter, Вы предоставляете личную информацию из Вашего аккаунта
				HackPack, и Вы соглашаетесь с тем, что эта информация будет переведена в Ваш
				аккаунт на HackPack, Вы соглашаетесь с тем, что будете использовать только те
				аккаунты, которые принадлежат Вам, а не другому человеку или другому субъекту.																																																															and not by any other person or entity.
		li
			.fs_18 Типы пользовательских аккаунтов
			.vp_10
			div.
				Вы можете зарегистрироваться, используя разные аккаунты, в зависимости от
				рода Вашей деятельности и Вашей роли на HackPack Service. Типы аккаунтов,
				которые мы предлагаем в данный момент, следующие: (i) Журналист, (ii)
				Фиксер, (iii) Фотограф, (iv) , (v) Эксперт, (vi) Редактор/Медийная организация,
				(vii) PR специалист (PR агентство, унивеситет и т.д.), или (viii) ) PR специалист
				(НКО).
				#[.vp_10]
				Вы можете зарегистриорваться, используя более, чем один тип аккаунта, но вы
				не можете вводить в заблуждение онтосительно рода Вашей деятельности/
				Вашей роли. Например, если Вы являетесь PR специалистом,Вы не должны
				регистрироваться как журналист, за исключением тех случаев, когда Вы также
				работаете и как журналист. Регистрируясь на HackPack под определенным
				типом аккаунта, Вы показываете HackPack, что Ваш род деятельности совпадает
				с типом аккаунта, который Вы зарегистрировали.
			.vp_10
			ol
				li
					.fs_16 Дополнительные правила пользования для бизнес-компаний (например, PR агентств).
					.vp_10
					div.
						Вы соглашаетесь с тем, что создавая, обновляя и мониторя профиль, Вы
						являетесь владельцем данного бизнеса (далее “Бизнес-компании”) или имеете
						письменное согласие бизнес-компании, согласно которому Вы авторизованы
						управлять бизнесом от имени владельца этого бизнеса, а также, что Вам не
						менее 18 лет. Вы согласны с тем, что мы можем уполномочить только
						собственника бизнеса или агента-представителя владельца создавать,
						обновлять и мониторить этот профиль.  Если какой-либо спор возникнет в связи
						с правом собственности или уполномоченным посредником бизнес-компании,
						мы приостановим профиль по нашему усмотрению до тех пор, пока мы не
						расследуем спор и не примем решение по нашему личному усмотрению, Вы
						соглашаетесь с тем, что у нас есть единоличное право решить, оставить или
						удалить профиль на HackPack Service. Вы согласны от имени бизнеса, что бизнес-
						компания не будет использовать HackPack Service, чтобы продвигать или
						облегчать какие-либо действия, которые считаются незаконными местными,
						государственными или федеральными властями, в чьей юрисдикции находится
						бизнес-компания.  Принимая данные правила и условия, Вы согласны с тем, что
						Вы не разрешите любому другому человеку использовать, обновлять и
						мониторить этот профиль. Если Вы создаете регистрируемый профиль для
						других уполномоченных агентов бизнеса, Вы берете на себя ответственность,
						что эти агенты примут те же самые правила и условия до того, как они получат
						доступ к Вашему профилю. В любом случае Вы несете ответственность за
						поведение этого агента.
		li
			.fs_18 Ответственность за Ваш контент
			.vp_10
			div.
				Вы единолично несете ответственност, за свой контент, и будучи
				опубликованным, он не всегда может быть снят с сайта. Вы осознаете все риски,
				связанные с Вашим контентом, включая ответственность  за его качество,
				точность, достоверности, кроме того, Вы несете ответственность за разглашение
				Вами информации в Вашем контенте, которая способствует установлению
				Вашей личности. Вы заявляете, что Вы являетесь владельцем этой информации
				или имеете разрешение на пользование и возможность уполномочить
				пользование контентом так, как это описано в данном документе. Вы не должны
				давать основания полагать, что Ваш контент каким-либо образом спонсирован
				или одобрен HackPack. Применительно к данным правилам пользования
				термин “Ваш контент” обозначает любую информацию, сообщения,
				изображения, фотографии, файлы, личные и технические данные или любые
				другие виды информации, которую Вы передаете или публикуете через
				HackPack Service, в том числе и в Вашем бизнес-профиле.
				#[.vp_10]
				Вы согласны не передавать контент, который: (i) может нанести вред, утерю,
				влечет за собой физическую или ментальную травму, моральный ущерб, смерть,
				недуг, увечье, физическую или психическую болезнь Вам или любому другому
				человеку;  (ii) может создать опасность любой другой утери или вреда для
				любого человека или собственности;  (iii) направлен на нанесение вреда или
				эксплуатации детей путем показа им недопустимого контента, запрос на
				разглашение личных данных или другим способом; (iv) может быть
				квалифицирован как или способствовать преступлению или правонарушению;
				(v) содержит любую информацию или контент, которую мы считаем незаконной,
				вредоносной, непристойной,оскорбительной в отношении расы или этики,
				оскорбляющих чье-либо достоинство, посягающей на право на
				невмешательство в личную жизнь и гласность, беспокоящий или унизительный
				для других людей (публично или другим способом)клеветнической,
				угрожающей, непристойной, оскорбительной, порнографической или другим
				образом вызывающей возражения; (vi) содержит любую информацию или
				контент, который является нелегальным ( включая без ограничений
				разглашение инсайдерской информации, защищенной правом ценных бумаг, а
				также коммермеские тайны любых лиц;  (vii)содержит любую информацию, или
				контент, которые Вы не имеете права обнародовать, сограсно любым законам
				или договоренным и доверенным отношениями; или  (viii) содержит любую
				информацию или контент, о котором Вы знаете, что он не является корректным
				или актуальным.
				#[.vp_10]
				Вы сограсны с тем, что Ваш котент не нарушает и не будет нарушать права
				третьих лиц любого характера, включая без ограничений интеллектуальные
				права собственности (в соответствии с определением ниже ) или права на
				конфиденциальность. Мы оставляем за собой права, не будучи связанными
				обязательством, отклонять или удалять любой Ваш контент, который мы
				единолично считаем нарушает эти правила.  Применительно к данным
				правилам пользования термин “Права интеллектуальной собственности”
				означают все патентные права, авторские права, права на шаблоны, моральные
				права, право на гласность, права товарного знака, права на внешнее
				оформление, знаки обслуживания, стоимость деловых связей и репутации
				фирмы, права коммерческой тайны и другие права интеллектуальной
				собственности, которые существуют сейчас или могут появиться, а также все
				применения закона, регистрации обновления и продления законодательной
				базы согласно законам государства, страны, территории или любой другой
				юрисдикции.
				#[.vp_10]
				Вы также согласны, что не станете использовать сервис HackPack для сбора
				контента у кого-либо, как для коммерческого пользования, так и для любого
				другого, без предварительного согласия другой стороны, а также без пояснения,
				что Вы, а не мы собираем контент.
				#[.vp_10]
				Мы не берем на себя и не предполагаем ответственность за любой контент,
				который Вы, другой пользователь или третья сторона публикует или отправляет
				через HackPack Service. Вы единолично несете ответственность за Ваш контент и
				те последствия, которые могут быть связаны с публикацией, а также Вы
				соглашаетесь, что мы выполняем роль пассивного посредника для онлайн
				распространения и публикации Вашего кантента. Вы понамаете, что можете
				столкнуться с котентом, который является недостоверным, спорным,
				некорректным по отношению к детям  или другим образом не соответствующим
				Вашим целям. Вы согласны с тем, что мы не будем нести ответственность за
				любой вред, которому Вы подвергаетесь или заявляете, что подвергаетесь, в
				результате просмотра любого контента, опубликованного на HackPack Service.
		li
			.fs_18 Наше право использовать Ваш контент
			.vp_10
			div.
				Мы можем использовать Ваш контент разнообразными способами, включая его
				публичное обнародование, переформатирование, а также внедрение в рекламу
				или другие произведения, создавая производные произведения, продвигая его
				распространяя его и позволяя другим делать то же самое в связи с работой их
				собственных сайтов и медийных платформ (далее “Другие медиа”). Таким
				образом, Вы даете нам в безотзывном порядке в масштабах свего мира,
				неисключительные, безвозмездные, сублицензируемые, передаваемые права
				на распространение Вашего контента для любых целей. Вы также в безотзывном
				порядке предоставляете пользователям HackPack Service, а также другим СМИ
				право доступа к Вашему контенту в связи с использованием ими HackPack
				Service или других медиа. Наконец, Вы в безотзывном порядке отказываетесь и
				распоряжаетесь об отказе от претензий и заявлений о защите моральных прав в
				отношении Вашего контента. Под “использованием” мы понимаем
				использование, копирование, публичный показ и трансляцию, распространение,
				изменение, перевод и создание “производных” произведений Вашего контента.
		li
			.fs_18 Ограничения
			.vp_10
			div.
				Мы не обязаны применять правила пользования от Вашего имени в отношении
				других пользователей. Мы советуем Вам дать нам знать, если другой
				пользователь нарушил правила пользования, однако мы оставляем за собой
				право расследовать и предпринять необходимые действия по нашему личному
				усмотрению.
				#[.vp_10]
				Вы соглашаетесь с тем что Вы не будете использовать HackPack Service, а также
				не будете помогать, побуждать, давать возможность другим использовать
				HackPack Service чтобы:
			ol
				li.
					Нарушать нашу политику работы с контентом, например, создавая
					ложный или порочащий другого пользователя отзыв, создавать отзыв за
					плату для других бизнес-клиентов, получать плату или давать плату кому-
					то за удаление или написание отзыва;
				li.
					Нарушать права третьих лиц, включая любое нарушение
					конфиденциальности, авторвских прав, прав товарного знака, патента,
					коммерческой тайны, морольных прав, прав конфиденциаьлности, права
					на гласность или любых других интеллектуальных прав или прав
					собственности;
				li.
					Угрожать, преследовать, наносить вред, домогаться или продвигать
					фанатизм и дискриминацию;
				li.
					Использовать HackPack Service для коммерческих целей, помимо тех, что
					разрешены в этих правилах пользовония сайтом;
				li.
					Делать массовые рассылки, опросы, или другие виды массовой
					корреспонденции с коммерческими или иными целями; создание спама
					с использовием ключевых слов, а также любые попытки манипулировать
					результатами поска на HackPack Service или сайтах третьих лиц;
				li.
					Выпрашивать личную информацию у несовершеннолетних, а также
					публиковать или передавать порнографию; или
				li.
					Публиковать косвенно или напрямую любую информацию, которая
					позволяет идентифицировать другого пользователя без его согласия.
					Информация, позволяющая идентифицировать личность пользовтеля,
					может включать ( но не только) полное имя человека, его имя, его
					фамилию, email адрес, профессию, телефонный номер, адрес и место
					работы;
				li.
					Загружать, публиковать, пересылать по email или другим образом
					передавать или публиковать ссылки на материалы, которые являются
					ложными или вводят в заблуждение
				li.
					Нарушать любые законы.
			div Вы соглашаетесь с тем что Вы не будете сами, а также не будете помогать, побуждать, давать возможность другим:
			.vp_10
			ol
				li.
					Нарушать правила пользования;
				li.
					Изменять, адаптировать, присваивать, воспроизводить, распространять,
					переводить, создавать “производные” произведения или адаптации,
					публично показывать, продавать, торговать или любым другим способом
					использовать HackPack Serivce или любой контент, опубликованный на
					HackPack Service (за исключением Вашего контента), за исключением тех
					случаев, когда Вы получили разрешение от нас;
				li.
					Использовать роботов, “пауков”, приложения для поиска по веб-сайту
					или любые другие автоматические устройства, обрабатывать, получать
					доступ, извлекать, индексировать любую часть HackPack Service или
					контента, опубликованного на HackPack Service;
				li.
					Осуществлять технический анализ любой части HackPack Service;
				li.
					Удалять или изменять любые поменки об авторских правах, правах на
					торговую марку или других правах собственности, которые обозначены
					но любой части HackPack Service или на любых материалах,
					распечатанных или скопированных с HackPack Service;
				li.
					Записывать, обрабатывать или исслиедовать информацию о других пользователях;
				li.
					Получать доступ, извлекать или индексировать любую часть HackPack
					Serivces для создания или возможностями поиска;
				li.
					Переформатировать или создавать фреймы в отношении любой части HackPack Serivce;
				li.
					Предпринимать любые действия, которые приводят или могут привести
					по-нашему усмотрению к чрезмерной или непропорциональной нагрузке
					на нашу технологическую инфраструктуру или по-другому создать
					чрезмерные потоки трафика на HackPack Service;
				li.
					Попытаться получить несанкционированный доступ к HackPack Service,
					пользовательским аккаунтам, компьютeрным системам или сетям,
					связанным с HackPack Service, путем хакерства, подрыва паролей или
					другими способами;
				li.
					Использовать HackPack Service или любой другой контент,
					опубликованный на HackPack Service, чтобы передавать компьютерные
					вирусы, вирусы-черви, дефекты, “трояны” или любые другие
					разрушительные элементы деструктивного характера (коллективное
					название “Вирусы);
				li.
					Использовать любые устройства, программное обеспечение или
					практики, которые нарушают нормальную работу
					другим образом мешают HackPack Service;
				li.
					Использовать HackPack Service, чтобы нарушить безопасность любых
					компьютерных сетей, вскрывать пароли или шифрованные коды безопасности;
					подрывать и нарущать безопасностьHackPack Service или любого другого контента,
					опубликованного на HackPack; или
				li.
					Удалять, разрушать, пытаться отключить, нарушить или другим образом
					вредить любым компонентам HackPack Service, связанным с
					безопасностью, копмонентам, которые предотвращают или
					ограничивают использование или копирование контента,
					опубликованного на HackPack Service, или компонента, которые
					накладывают ограничения на использование HackPack Service.
					#[.vp_10]
					Вы признаете и согласны с тем, что HackPack и его уполномоченные лица
					будут иметь право (но не обязанность)по их усмотрению отказывать в
					публикации, удалять или блокировать доступ к любому контенту,
					который доступен через HackPack в любое время, по любой причине с
					уведомлением или без уведомления.  Без ограничений HackPack и его
					уполномоченные лица будут иметь право( но не обязанность) по их
					усмотрению отказывать в публикации, удалять или блокировать доступ к
					любому контенту, который нарушает эти правила пользования или
					другим образом вызывает возражения, по определению HackPack, по
					нашему собственному усмотрению.

		li
			.fs_18 Взаимодействие с пользователями
			.vp_10
			div.
				HackPack только предоставляет платформу для упрощения коммуникации и для
				обмена/продажи услуг между пользователями.   Мы не участвуем активно ни в
				каких транзакциях, а также не проверяем и не гарантируем правдивость и
				достоверность любой информации, опубликованной любым пользователем в
				отношении существования, доступности, автентичности, качества и ценности
				любой услуги/продукт, предлагаемых через HackPack. Мы не гарантируем и не
				можем гарантировать, что транзакции, начатые между пользователями, будут
				завершены. Вы согласны с тем, что Вы несете единоличную ответственность, а
				также должны оценивать и сами принимать решение,  нести риски, которые
				связаны с  (i) Вашими взаимодействиями с другими членами или
				пользователями, как онлайн, так и лично, а также  (ii) использованием Вами
				любых продуктов или услуг, предоставленных пользователями. Вы признаете,
				что мы не должны отслеживать или расследовать биографические данные
				любых пользователей, кроме того, мы не проверяем или гарантируем
				достоверность любых представлений или утверждений, сделанных нашими
				пользователями и обращенные к Вам или к  другим пользователям
				относительно продуктов или услуг.
				Ваши сделки с пользователями, а также любые правила, условия, заверения и
				гарантии, связанные с этими сделками, остаются между Вами и пользователем,
				не включая в процесс HackPack.  Вы несете единоличную ответственность за
				продведение любых расследований и принятие любых мер предосторожности,
				которые необходимы до начала любого взаимодействия и транзакций,
				вкючающие других пользователей как онлайн так и лично. HACKPACK НЕ ДЕЛАЕТ
				НИКАКИХ ЗАВЕРЕНИЙ ИНЕ ПРЕДОСТАВЛЯЕТ ГАРАНТИЙ ОТНОСИТЕЛЬНО
				БИОГРАФИЧЕСКИХ ДАННЫХ ИЛИ ПОВЕДЕНИЯ ЛЮБОГО ПОЛЬЗОВАТЕЛЯ.
				#[.vp_10]
				HackPack ни при каких условиях не будет нести ответственность за какой бы то ни было
				вред, прямой или косвенный, общий, особый,  компенсаторные убытки,
				предсказуемые косвенные убытки, связанные с поведением любого пользователя,
				включая Вас, при использовании HackPack Service онлайн или лично, включая без
				ограничений имущественный ущерб, телесные повреждения или смерть, моральный
				ущерб, а также любые другие виды ущерба, связанные с коммуникацией, встречами,
				договоренностями или другими делами с другими пользователями или людьми, с
				которыми Вы столкнулись в результате использования HackPack Services.

		li
			.fs_18 Премиум сервисы
			.vp_10
			div.
				Иногда HackPack может предоставлять дополнительные компоненты и/или
				сервисы, за которые Вы платите (далее “Премиум сервисы HackPack). HackPack
				также может предоставлять время от времени по своему собственному
				усмотрению определенные премиум HackPьck сервисы бесплатно во время
				периода тестирования или иным образом. Если иное особо не оговорено,
				ссылки на сервисы HackPack в данных правилах пользования включают в себя и
				премиум сервисы HackPack. Если не обозначено иное, все взносы за премиум
				сервисы HackPack зафиксированы в долларах США. Вы несете ответственность за
				оплату всех взносов и необходимых налогов, связанных с покупкой, в срок при
				платеже, принятом через HackPack. Если Ваш платеж не проходит, а также
				закончился срок действия счета, мы можем снять плату, используя другие
				механизмы. Мы оставляем за собой право изменять взносы в любое время по
				нашему собственному усмотрению. Любое изменение, обновление или
				корректировка вступят в силу незамедлительно после публикации на HackPack
				Services.

		li
			.fs_18 Ограничение ответственности
			.vp_10
			div.
				Пожалуйста, прочитайте этот раздел внимательно, так как он ограничивает
				ответственность HackPack, его дочерних и зависимых обществ, агентов, наемных
				работников, сотрудников, директоров, а также лиц, выдающих разрешение
				(коллективно именуемые “подразделения HackPack”). Каждая из
				нижеследующих разделов применима в полной мере, предусмотренной
				применяемыми правовыми нормами. Никакие изложенные здесь положения не
				имеют целью ограничить права, которыми Вы обладаете и которые не могут
				быть ограничены по закону.
				#[.vp_10]
				HackPack Service предоставлен Вам на условиях “как есть”, “со всеми
				недостатками”, “как доступно”. Вы используете HackPack Services по своему
				собственному усмотрению, осознавая все риски. Подразделения HackPack не
				делают заверений или обещаний о качестве, точности или достоверности
				HackPack Service, его безопасности или опубликованного контента.
				Соответвенно, подразделения HackPack не несут ответственности перед Вами
				при возможно, утере или вреде, которые проистекают, например, из Вашего
				доверия качеству, точности или достоверности деловым справочникам,
				рейтингам и отзывам.
				#[.vp_10]
				Подразделения HackPAck не делают заявлений и не дают обещаний
				относительно любых трерьих лиц, таких как, бизнес-клиенты, обозначенные в
				HackPack Service или в профилях пользователей HackPack. Соответственно,
				подразделения HackPack не несут ответственности перед Вами в случае
				возникновения любых потерь или вреда, которые связаны с их действиями,
				например, если какой-либо пользователь несанкционировано будет
				использовать Ваш контент или Вашу личность. Покупка, использование Вами
				продуктов и услуг, предоставляемых третьими лицами через HackPack Service,
				осуществляется по Вашему собственному усмотрению и на Ваш риск.
				ПодразделенияHackPack отказываются от всех гарантий, явных или
				подразумеваемых, включая гарантии, относящиеся к продуктам и услугам,
				предоставляемым бизнес-компаниями, включенными в список на HackPack, а
				также подразумеваемых гарантий коммерческого качества, пригодности для
				использования по назначению, а также ненарушения прав интеллектуальной
				собственности. Никакие устные или письменные информация и советы,
				предоставленные Вам представителем какого-либо из подразделений HackPack,
				не является заверением или гарантией.
				#[.vp_10]
				Вашим единственным экслюзивным правом и способом защиты права в случае
				неудовлетворения услугами HackPAck Services, связанными услугами или при
				возникновении любого другого основания для жалобы, является прекращение
				или прерывание доступа к HackPack Service или использования HackPack.
				Максимальная ответственность подразделений HackPack в отношении Вас при
				потерях или вреде, нанесенных Вам в связи с использованием HackPack Service
				или связанных с этими правилами пользования, ограничивается суммой равной:
				(i) количеству денег, заплаченных Вами подразделениям HackPack в связи с
				услугами HackPack в течение 12 месяцев до предпринятых действий, которые
				влекут за собой ответственность или (ii) 50 долларов США.
				#[.vp_10]
				Подразделения HackPack отказываются от обязательств и не несут
				ответственности за любые (i) косвенные убытки, фактические убытки,
				непреднамеренные, убытки, присуждаемые в порядке наказания, расходы,
				понесенные в расчете на исполнение договора, предсказуемые косвенные
				убытки, (ii) упущенную прибыль, (iii) банкротсва, (iv) репутационный вред или (v)
				потерю информации или даных. Ни при каких обстоятельствах подразделения
				HackPack не будут нести ответственность за увечье, утерю, исковое требоваие,
				вред, фактический убыток, убытки, присужденые в порядке наказания,
				карательный ущерб, непреднамеренные убытки, предсказуемые косвенные
				убытки любого характера, которые основаны на контракте, гражданско-
				правовом нарушении, которые проистекают или каким-то образом связаны с (I)
				любым использованием HackPack Services или контента, опубликованного на
				HackPack, (II) любым упущением или задержкой (включая возможность
				пользоваться или невозможность использовать любые компоненты HackPack
				для сохранинея, (III)   исполнение или неисполнение обязательств бизнеса в
				связи с услугами. В дополнение к этому все конечные пользователи понимают и
				согласны с тем, что любые третьи стороны, переправляющие конечных
				пользонателей на HackPack Service через реферал, ссылки или любые другие
				способы не несут ответственности перед пользователем по любым претензиям,
				включая любой вред или утерю, связанный с использованием HackPack Service
				или контента, опубликованного на HackPack. Подразделения HackPack не
				являются агентами и никаким образом не связаны с любым бизнесом,
				представленным на HackPack Service.

		li
			.fs_18 Освобождение от ответственности
			.vp_10
			div.
				Вы согласны защищать, освобождать от ответственности и предохранять
				HackPack от любых исков, ущерба, обязательств, потерь, обязанностей, затрат,
				долгов или трат, проистекающих из: (i) Доступа к и использования HackPack
				Services, включая любые данные и контент, переданные или полученные Вами;
				(ii) нарушения Вами любого положения этих правил использонания сайта; (iii)
				нарушения прав любой третьей стороны, включая без ограничений любое право
				на конфиденциальность, а также права интеллектуальной собственности; (iv)
				нарушения Вами любого применяемого закона, правила или нормы; (v) любых
				исков или вреда, связанных с тем контентом, который получен и опубликован
				через Ваш аккаунт; или (vi) использования и доступа к HackPack любого другого
				лица через Ваше имя пользователя, пароль или другие применяемые коды
				безопасности.

		li
			.fs_18 Пректращение соглашения
			.vp_10
			div.
				Вы можете прекратить действие правил пользования сайтом в любой момент,
				закрыв свай аккаунт, прекращая использоние HackPack Services, а также
				предоставляя HackPack уведомление о прекращении через сайт. Пожалуйста,
				обратите внимание на нашу Политику конфиденциальности, чтобы найти
				информацию о том, что мы делаем с Вашим аккантом после его закрытия.
				#[.vp_10]
				Мы можем закрыть Ваш аккаунт, отключить возможность использования
				некоторых частей HackPack Service и/или лишить Вас полностью права
				пользования HackPack Service по любой причине без предварительного
				уведомления  или какой-либо ответственности. Любое такое действие с нашей
				стороны помешает Вам заходить в Ваш аккаунт на HackPack Service, иметь
				доступ к Вашему контенту и другой связанной информации.
				#[.vp_10]
				В случае прекращения соглашения нами или Вами эти правила пользования будут
				действовать в полном объеме, включая наше право использовать Ваш контент.


	.fs_22 Лицензия для конечного пользователя
	ul
		li
			.fs_18 HACKPACK SERVICE
			.vp_10
			div.
				Согласно данным правилам и условиям, изложенным в этих Правилах
				пальзования, Вы получаете неисключительную, ограниченную,
				непередаваемую, подлежащую отзыву лицензию на пользование HackPack для
				Ваших личных некоммерческих целей, за исключением случаев дополнительно
				оговоренных в этих Правилах Пользования. HackPack оставляет за собой все
				права, которые неявно даны в HackPack Service и контенте HackPack (в
				соответствии с нижеследующим определением). HackPack может прекратить
				действие этой лицензии в любое время с предъявлением обоснования или без
				такового.

		li
			.fs_18 Мобильное программное обеспечение
			.vp_10
			div.
				Мы делаем доступным программное обеспечение для доступа к HackPack
				Service через мобильные устройства (далее “Мобильное программное
				обеспечение”). Чтобы использовать мобильное программное обеспечение, у
				Вас должно быть мобильное устройство, которое совместимо с мобильной
				версией HackPack Service. Мы не даем гарантии, что мобильное программное
				обеспечение будет совместимо с Вашим мобильным устройством. Мы
				настоящим даем Вам неисключительную, непередаваемую и подлежащую
				отзыву лицензию на пользование копией мобильного программного
				обеспечения со сложным кодом для одного аккаунта HackPack на одном
				мобильном устройстве, которым владете только Вы или которое Вы взяли в
				аренду. Этой копией Вы можете воспользоваться для Ваших личных
				некоммерческих целей, за исключением тех случаев, которые оговорены в
				данных Правилах пользования. Вы не можете: (i) видоизменять, разделять на
				части, осуществлять вскрытие технологии мобильного программного
				обеспечения, кроме случаев, когда такие ограничения строго запрещены
				законом; (ii) сдавать и брать в аренду, предоставлять ссуду, перепродавать,
				выдавать сублицензии, распрастранять или другим образом передавать
				мобильное программное обеспечение третьим лицам или использовать
				мобильное программное обеспечение, чтобы предоставлять его в режиме
				разделения времени или подобные сервисы третьим лицам; (iii) делать копии
				мобильного программного обеспечения; (iv) удалять, пытаться обойти,
				отключить, нарушить или другим образом вмешаться в компоненты, связанные
				с безопасностью мобильного программного обеспечения, а также компоненты,
				которые предотвращают или ограничивают использование или копирование
				любого контента, доступного через мобильное программное обеспечение; а
				также удаление пометок об авторских правах или любых других правах
				собственности, обозначенных на мобильном программном обеспечении.
				#[.vp_10]
				Вы признаете, что мы иногда можем выпускать обновленные версии
				мобильного программного обеспечения и можем автоматически электронным
				путем обновлять версию того мобильного программного обеспечения, которое
				Вы используете на Вашем мобильном устройстве. Вы согласны на такое
				автоматическое обновление Вашего мобильного устройства и согласны с тем,
				что правила и условия, изложенные в этих правилах пользования будут
				распространяться и на эти обновления.
				#[.vp_10]
				На любые компьютерные коды третьих лиц, которые могут быть интегрированы
				в мобильное программное обеспечение, распространяется применяемое
				правило открытого источника или лицензия трерьих сторон EULA, при наличии
				дающая право на использование такого кода.
				#[.vp_10]
				Настоящее предоставление лицензии не представляет собой продажу
				мобильного программного обеспечения или копирование такового, и мы, как и
				наши партнеры среди третьих лсторон, а также наши подрядчики оставляем за
				собой все права, включая имущественныи (также любую копию в данном
				отношении).

		li
			.fs_18 Мобильное программное обеспечение из Apple AppStore
			.vp_10
			div.
				Этот пункт относится к Вам, если Вы скачали мобильное программное
				обеспечение из Apple AppStore. Мы с Вами подтверждаем, что этот договор
				пользования подписан между нами, а не с Apple Inc. (далее Apple), что касается
				взаимоотношений между нами с Apple, мы, а не корпорация Apple, несем
				единоличную ответственность за программное обеспечение и HackPack Service,
				а также за контент в данном отношении. Вы подтверждаете, что Apple Inc. не
				несет никакой ответственности за сохранение и предоставление
				поддерживающих услуг мобильного программного обеспечения. Вы
				подтверждаете, что Вы ознакомились с правилами и условиями пользования
				App Store (они доступны онлайн по ссылке #[a(ng-href="http://www.apple.com/legal/itunes/us/terms.html#APPS", target="_blank") www.apple.com/legal/itunes/us/terms.html#APPS]).
				Вы утверждаете и гарантируете, что Вы не находитесь в стране, которая является объектом
				государственного эмбарго со стороны США или в стране, которая обозначена
				США как государство, поддерживающее террористов, а также, что (ii) Вы не
				значитесь в государственных списках США особого внимания, в котором
				перечилены лица, в отношении которых установлен запрет или ограничение
				проведения финансовых операции, включая “Черный список особых категорий
				и запрещенных лиц”, который опубликован Управлением по контролю за
				иностранными активами Казначейства США, а также “Список исключенных лиц”
				Министерства торговли США.
				#[.vp_10]
				В данном договоре настоящим упоминанием считается включенным
				Лицензионное применение лицензионного соглашения с конечным
				пользователем (LAEULA), которое опуликовано Apple Inc. (доступно онлайн по
				ссылке #[a(ng-href="http://www.apple.com/legal/itunes/appstore/dev/stdeula/", target="_blank") www.apple.com/legal/itunes/appstore/dev/stdeula/]).
				#[.vp_10]
				Применительно к этим правилам пользования, под мобильным программным
				обеспечением понимается “Лицензионное приложение” согласно определению
				LAEULA, а под HackPack понимается “Провайдер приложения”, согласно
				определению LAEULA. Если какие-то положения данных Правил пользования
				противоречат правилам LAEULA, данные правила будут считаться
				главенствующими.

		li
			.fs_18 Мобильное программное обеспечение из Google Android Market
			.vp_10
			div.
				Этот абзац относится к Вам, если Вы скачали мобильное программное
				обеспечение с устройства, которое использует операционную систему Android.
				HackPack и Вы, конечный пользователь мобильного программного обеспечения
				и HackPack Service, подтверждаете, что эти Правила пользования вступают в силу
				и относятся к нашим взаимоотношениям. Мы несем единаличную
				ответственность за программное обеспечение и за HackPack Service. Если Вы
				скачали программное обеспечение с Google Android Market, расположенном по
				ссылке #[a(ng-href="https://play.google.com/store", target="_blank") play.google.com/store]то Вы подтверждаете, что Вы
				прочитали Правила обслуживания Android Market (расположены по ссылке #[a(ng-href="https://www.google.com/mobile/android/market-tos.html", target="_blank") www.google.com/mobile/android/market-tos.html]),
				а также Программную и бизнес политику Android Market (доступную по ссылке #[a(ng-href="https://play.google.com/about/android-developer-policies.html", target="_blank") play.google.com/about/android-developer-policies.html]).
				Вы утверждаете и гарантируете, что Вы не находитесь в стране, которая является объектом
				государственного эмбарго со стороны США или в стране, которая обозначена
				США как государство, поддерживающее террористов, а также, что (ii) Вы не
				значитесь в государственных списках США особого внимания, в котором
				перечилены лица, в отношении которых установлен запрет или ограничение
				проведения финансовых операции, включая “Черный список особых категорий
				и запрещенных лиц”, который опубликован Управлением по контролю за
				иностранными активами Казначейства США, а также “Список исключенных лиц”
				Министерства торговли США.


	.fs_22 Прочие условия
	ul
		li
			.fs_18 Споры пользователей
			.vp_10
			div.
				Мы не несем ответственность за урегулирование споров между любыми
				пользователями. В случае возникновения повода для беспокойства, иска или
				спора, пользователи должны обратиться напрямую к другой стороне, чтобы
				решить такую проблему, иск или спор. Если мы получаем жалобы на
				пользователя, мы будем расследовать жалобу по нашему личному усмотрению,
				а также можем предложить пользователю ответить напрямую другой стороне.
		li
			.fs_18 Полнота соглашения / автономность положений
			.vp_10
			div.
				Данные правила пользования сайтом, а также любые поправки или
				дополнительные соглашения, в которые Вы можете вступить с нами в связи с
				HackPack Service, будут представлять собой полный объем договоренностей
				между нами относительно HackPack Service. Если какие-либо положения в этих
				правилах пользования будут квалифицированы судом или другим
				компетентным органом как неимеющие законной силы, недействительность
				этих положений не будет распространяться на остальные положения правил
				пользования, которые будут иметь силу.
		li
			.fs_18 Отсутствие отказа от прав
			.vp_10
			div.
				Отказ от любого положения данных Правил пользования не может считаться
				или толковаться как отказ в дальнейшем от такого положения или любого
				другого положения, а также наша неспособность заявить о некоем праве или
				положении в соответствии с этими Правилами пользования не означает отказ от
				такого права или положения.
		li
			.fs_18 Сторонние бенефициары и соглашения
			.vp_10
			div.
				Если Вы скачали мобильное программное обеспечение из Apple AppStore, Вы
				подтверждааете, что Apple, а также  дочение структуры Apple являются
				сторонними бенефициарами в отношении этих правил пользования, и что на
				основании принятия Вами этих правил и условий, прописанных в данных
				Правилах пользования, Apple будет обладать таким правом (и будет считаться,
				что корпорация приняла такое право) использовать эти правила пользования
				против Вас в качестве стороннего бенефициара. Вы согласны подчиняться этим
				правилам, а также Ваша лицензия на использование мобильного программного
				обеспечения и HackPack Service зависит от соблюдения Вами всех применимых
				положений договора третьих сторон во время использования мобильного
				программного обеспечения или HackPack Services.
		li
			.fs_18 Уступка
			.vp_10
			div.
				Этот договор, а также любые права и лицензии данные им, не могут быть
				переданы или уступлены Вами, но могут быть устулены нами без ограничений
				или уведомления.
		li
			.fs_18 Ссылки третьих сторон
			.vp_10
			div.
				HackPack Service может содержать ссылки на сайты третьих сторон, рекламу,
				услуги, специальные предложения или другие события или виды деятельности,
				которые не принадлежат нам и не контролируются нами. Мы не подтверждаем
				и не предполагаем какую-либо ответственность с нашей стороны в отношении
				сайтов, информации, материалов, продуктов или сервисов третьих сторон. Если
				Вы зайдете на сайт третьей стороны через HackPack Service, как напрмер через
				Faceboook Connect или Twitter, Вы делаете это на свой риск и Вы понимаете, что
				эти правила пользования сайтом и политика конфиденциальности не относятся
				к использованию Вами таких сайтов. Вы явно освобождаете нас от
				ответственности, связанной с использованием Вами сайтов, услуг и контента
				третьих сторон. В дополнение к этому Ваши торговые сделки с нашим участим в
				промоциональных кампаниях рекламодателей или бизнесов, найденных на
				HackPack, включая оплату и доставку товаров, а также любые другие правила
				(например, гарантии) существуют между Вами и третьими сторонами. Вы
				согласны с тем, что мы не будем нести ответственность за любую утерю или
				вред, связанный каким бы то ни было образом с Вашими сделками с третьими лицами.
		li
			.fs_18 Уведомления
			.vp_10
			div.
				Мы можем предоставлять уведомления, если такие предусмотрены законом
				или предназначены для маркетинговых или других бизнес-целей, с помощью
				email, в письменном или напечатанном виде, через сообщения на нашем сайте,
				Apple App Store или Google Android Marketplace в установленном нами порядке
				по нашему личному усмотрению. Мы оставляем за собой право определить
				форму и способ передачи уведомлений для наших пользователей, учитывая то,
				что Вы можете отказаться от некоторых способов получения уведомлений, как
				прописано в данных правилах пользования.
		li
			.fs_18 Основное законодательство/ третейское разбирательство
			.vp_10
			div.
				Законы штата Калифорния, исключая нормы коллизионного права, применяются
				в отношении данных Правил пользования. Стороны согласны с тем, что
				Конвенция ООН о международной купле-продаже товаров (Вена, 1980) не будет
				применяться в отношении этого договора, а также в отношении любого спора
				или транзакции, которые проистекают из этого договора. Любые споры,
				проистекающие из или связанные с предметом данного договора, будут
				решены в ходе арбитражного суда в округе Санта Клара, Калифорния, используя
				английский язык в соответствии с Упрощенными правилами и процедурами
				арбитражного суда Службы судебного арбитража и медиации (Streamlined
				Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. (
				сокращенно “JAMS”)), которые будут действовать на тот момент.  Дело будет
				вести один судья коммерческого арбитража с достаточным опытом решения
				споров по коммерческим контрактам, который будет выбран из списка судей
				JAMS в соответствии с Упрощенными правилами и процедурами  арбитражного
				суда JAMS. Любое судебное решение может быть предоставлено суду
				соответствующей юрисдикции, а также есть возможность подать жалобу в такой
				суд с целью признания судом вынесенного арбитражем решения и
				иполнительного листа сообразно обстоятельствам. Согласно данным правилам
				пользования любой арбитражный суд будет проходить в индивидуальном
				порядке. Никакие групповые иски или жалобы недопустимы. ВЫ ПОНИМАЕТЕ И
				СОГЛАСНЫ С ТЕМ, ЧТО ВСТУПАЯ В ЭТОТ ДОГОВОР, КАЖДЫЙ ИЗ НАС
				ОТКАЗЫВАЕТСЯ ОТ ПРАВА РАССМОТРЕНИЯ СУДОМ С УЧАСТИЕМ ПРИСЯЖНЫХ
				ЗАСЕДАТАЛЕЙ, А ТАКЖЕ УЧАСТВОВАТЬ В ДЕЛЕ О ЗАЩИТЕ ПРАВ И ЗАКОННЫХ
				ИНТЕРЕСОВ ГРУППЫ ЛИЦ. Несмотря на вышесказанное, каждая сторона будет
				иметь право начать судебное дело в любое время в суде надлежащей
				юрисдикции  для получения средств правовой защиты в виде судебного запрещения
				или средства правовой защиты по праву справедливости.
		li
			.fs_18 Как с нами связаться
			.vp_10
			div.
				Если Вы хотите связаться с нами по вопросам, жалобам или искам в отношении
				HachPack Service, Вам следует посетить наш веб-сайт на #[a(href="https://hackpack.press") www.hackpack.press] или отправить
				нам emai по адресу #[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].


.vp_50
