.privacy-policy.text

	.fs_30 Terms of Use

	.notifier.error
		b.fs_16 IMPORTANT! PLEASE CAREFULLY READ THESE TERMS OF USE AS THEY AFFECT YOUR LEGAL RIGHTS AND OBLIGATIONS.
		.vp_10
		div.
			Please read carefully the following provisions of these Terms of Use (the “Agreement” or
			“Terms of Use”). This is a legal agreement between you and Hackpack, Inc., a Delaware
			corporation (“HackPack”, “we” or “us) regarding the use of the #[a(ng-href="https://hackpack.press") www.hackpack.press] website,
			the mobile and touch versions and any individual sites or merchant-specific, city-specific, or
			other area-specific sites we have now or may have in the future (collectively the “HackPack
			Service”).  In order to use the HackPack Service, you must agree to our Terms of Use.


	.fs_22 ACCEPTANCE OF TERMS OF USE
	div.
		By using the HackPack Service you (“you” or “User”) agree to these Terms of Use, our
		Privacy Policy (which may be accessed at #[a(ng-href="https://hackpack.press/privacy-policy/") www.hackpack.press/privacy-policy/]),
		and any additional terms applicable to certain programs in which you may elect to participate or
		with respect to any portion of the HackPack Service, as any of the same may exist from
		time to time. IF YOU DO NOT AGREE TO THESE TERMS OF USE, YOU MUST
		IMMEDIATELY STOP ACCESSING OR USING THE HACKPACK SERVICE.


	.fs_22 CHANGE IN THE TERMS OF SERVICE
	div.
		We reserve the right at all times to discontinue or modify any part of these Terms of Use
		as we deem necessary or desirable. We suggest that you revisit our Terms of Use from
		time to time to ensure that you stay informed of any such changes to the HackPack
		Service. Your use of the HackPack Service after we update these Terms of Use will
		constitute acceptance of the modified Terms of Use. We also reserve the right to change
		or discontinue any aspect or feature of the HackPack Service including, but not limited
		to, requirements for access or use.


	.fs_22 OWNERSHIP OF THE HACKPACK SERVICE
	div.
		As between you and us, you own Your Content (as defined below). We own our
		Content, including but not limited to visual interfaces, interactive features, graphics,
		design, compilation, computer code, products, software, mobile applications, aggregate
		user review ratings, and all other elements and components of the HackPack Service
		excluding Your Content, User Content (as defined below) and any other Content posted
		on the HackPack Service. We also own the copyrights, trademarks, service marks, trade
		names, and other intellectual and proprietary rights throughout the world (“IP Rights”)
		associated with our Content and the HackPack Service, which are protected by
		copyright, trade dress, patent, trademark laws and all other applicable intellectual and
		proprietary rights and laws. As such, you may not modify, reproduce, distribute, create
		derivative works or adaptations of, publicly display or in any way exploit any of our
		Content in whole or in part except as expressly authorized by us. Except as expressly and
		unambiguously provided herein, we do not grant you any express or implied rights, and
		all rights in and to the HackPack Service are retained by us.

	.fs_22 USING THE HACKPACK SERVICE
	ul
		li
			.fs_18 Eligibility
			.vp_10
			div.
				To access or use the HackPack Service, you must be at least 18 years or older and of
				legal age under the laws of your jurisdiction.  You must also have the requisite power
				and authority to enter into this Agreement. Any use or access to the HackPack Service
				by anyone under 18 is strictly prohibited and in violation of these Terms of Use. If you
				are under 18, please do not attempt to register for the HackPack Service or send any
				information about yourself to us, including your name, address, telephone number, or
				email address. If we learn that we have collected personal information from anyone
				under age 18, we will delete that information as quickly as possible. You may not access
				or use the HackPack Service if you are a competitor of ours or if we have previously
				banned you from the HackPack Service or closed your account.
		li
			.fs_18 Permission to Use the HackPack Service
			.vp_10
			div.
				We grant you permission to use the HackPack Service subject to the restrictions in these
				Terms of Use. Your use of the HackPack Service is at your own risk, including the risk
				that you might be exposed to Content that is offensive, indecent, inaccurate,
				objectionable, or otherwise inappropriate.
		li
			.fs_18 Site Availability
			.vp_10
			div.
				The HackPack Service may be modified, updated, interrupted, suspended or
				discontinued at any time without notice or liability.
		li
			.fs_18 User Accounts
			.vp_10
			div.
				You must create an account and provide certain information about yourself in order to
				use some of the features that are offered through the HackPack Service. You are
				responsible for maintaining the confidentiality of your account password. You are also
				responsible for all activities that occur in connection with your account. You agree to
				notify us immediately of any unauthorized use of your account. You may never use
				another User’s account without permission. We reserve the right to close your account
				at any time for any or no reason.
				#[.vp_10]
				The HackPack Service is available through Facebook or Twitter, which requires an active
				account with the applicable service, and you hereby represent and warrant that you
				have read and agreed to be bound by all applicable policies governing the use of such
				service and will act in accordance with those policies, in addition to your obligations
				under these Terms of Use.  When you sign into HackPack Service through Facebook or
				Twitter, you will provide your account credentials with such service to HackPack, and
				you are consenting to have the information in that account transmitted into your
				HackPack account, and you agree that you shall only use the accounts owned by you,
				and not by any other person or entity.
		li
			.fs_18 Types of User Accounts
			.vp_10
			div.
				You may register for different accounts depending on your occupation and your role in
				HackPack Service.  The types of accounts that we currently offer are: (i) Journalist, (ii)
				Fixer, (iii) Photographer, (iv) Videographer, (v) Expert, (vi) Editor/Media Outlet, (vii) PR
				Professional (PR Agency, University, etc.), or (viii) PR Professional (NGO).
				#[.vp_10]
				You may register for more than one type of an account, but you may not misrepresent
				your role/occupation.  For example, if you are a PR Professional, you should not register
				as a journalist, unless you also work as a journalist. By registering for a specific account
				you represent to HackPack that your occupation coincides with the type of an account
				that you have registered for.
			.vp_10
			ol
				li
					.fs_16 Additional Terms of Use for Businesses (e.g, P.R. Agencies).
					.vp_10
					div.
						You hereby agree that by creating, updating, and monitoring this profile that you are the
						owner of the said business (the “Business”) or have the explicit written consent of the
						Business authorizing you to handle the Business on behalf of the owner of the said
						Business, and that you are at least 18 years of age or older. You agree that we only
						authorize the owner of the Business or the agent of the owner to create, update and
						monitor this profile. If any dispute whatsoever arises due to the ownership or
						authorized agent for the ownership of any Business, we will suspend the profile at our
						discretion until we have investigated the dispute and made a determination in our sole
						discretion, and you hereby agree that we have the sole control over whether or not a
						profile of any kind will be displayed on the HackPack Service. You agree on behalf of the
						Business that the Business will not use the HackPack Service to promote or facilitate any
						activities that are considered illegal by local, state, and federal authorities with
						jurisdiction over the Business.  By accepting these terms and conditions you agree that
						you will not permit any other person to use, update, or monitor this profile. In the event
						that you create a sign-in profile for other authorized agents of the Business, you agree
						that such agent will agree to these same terms and conditions prior to being granted
						access to your profile.  In any event, you remain responsible for the conduct of that
						agent.

		li
			.fs_18 Responsibility for Your Content
			.vp_10
			div.
				You alone are responsible for Your Content, and once published, it cannot always be
				withdrawn. You assume all risks associated with Your Content, including anyone's
				reliance on its quality, accuracy, or reliability, or any disclosure by you of information in
				Your Content that makes you personally identifiable. You represent that you own, or
				have the necessary permissions to use and authorize the use of Your Content as
				described herein. You may not imply that Your Content is in any way sponsored or
				endorsed by the HackPack. For purposes of these Terms of Use, the term “Your
				Content” means any information, messages, images, photos, videos, files, personal or
				technical data, or any other type of information that you transmit or post through the
				HackPack Service, including but not limited on your Business profile.
				You agree not to transmit Your Content that: (i) may create a risk of harm, loss, physical
				or mental injury, emotional distress, death, disability, disfigurement, or physical or
				mental illness to you, to any other person; (ii) may create a risk of any other loss or
				damage to any person or property; (iii) seeks to harm or exploit children by exposing
				them to inappropriate content, asking for personally identifiable details or otherwise;
				(iv) may constitute or contribute to a crime or tort; (v) contains any information or
				content that we deem to be unlawful, harmful, abusive, racially or ethnically offensive,
				defamatory, infringing, invasive of personal privacy or publicity rights, harassing,
				humiliating to other people (publicly or otherwise), libelous, threatening, profane,
				obscene, pornographic, or otherwise objectionable; (vi) contains any information or
				content that is illegal (including, without limitation, the disclosure of insider information
				under securities law or of another party’s trade secrets); (vii) contains any information
				or content that you do not have a right to make available under any law or under
				contractual or fiduciary relationships; or (viii) contains any information or content that
				you know is not correct and current.
				#[.vp_10]
				You agree that Your Content does not and will not violate third-party rights of any kind,
				including without limitation any Intellectual Property Rights (as defined below) or rights
				of privacy. We reserve the right, but are not obligated, to reject and/or remove any of
				Your Content that we believe, in our sole discretion, violates these provisions. For the
				purposes of these Terms of Use, “Intellectual Property Rights” means all patent rights,
				copyright rights, mask work rights, moral rights, rights of publicity, trademark, trade
				dress and service mark rights, goodwill, trade secret rights and other intellectual
				property rights as may now exist or hereafter come into existence, and all applications
				therefore and registrations, renewals and extensions thereof, under the laws of any
				state, country, territory or other jurisdiction.
				You further agree that you will not use the HackPack Service to collect Content from
				anyone, whether for commercial use or any other kind of use, without first obtaining
				their consent and first making it clear that you (and not us) are the one collecting their
				Content.
				#[.vp_10]
				We take no responsibility and assume no liability for any of Your Content that you or
				any other User or third party posts or sends over the HackPack Service. You shall be
				solely responsible for Your Content and the consequences of posting or publishing it,
				and you agree that we are only acting as a passive conduit for your online distribution
				and publication of Your Content. You understand and agree that you may be exposed to
				Content that is inaccurate, objectionable, inappropriate for children, or otherwise
				unsuited to your purpose, and you agree that we shall not be liable for any damages you
				incur or allege to incur as a result of any Content posted on the HackPack Service.

		li
			.fs_18 Our Right to Use Your Content
			.vp_10
			div.
				We may use Your Content in a number of different ways, including publicly displaying it,
				reformatting it, incorporating it into advertisements and other works, creating
				derivative works from it, promoting it, distributing it, and allowing others to do the
				same in connection with their own websites and media platforms (“Other Media”). As
				such, you hereby irrevocably grant us world-wide, non-exclusive, royalty-free,
				sublicensable, transferable rights to use Your Content for any purpose. You also
				irrevocably grant the users of the HackPack Service and any Other Media the right to
				access Your Content in connection with their use of the HackPack Service and any Other
				Media. Finally, you irrevocably waive, and cause to be waived, against us and our Users
				any claims and assertions of moral rights or attribution with respect to Your Content. By
				“use” we mean use, copy, publicly perform or display, distribute, modify, translate, and
				create derivative works of Your Content.

		li
			.fs_18 RESTRICTIONS
			.vp_10
			div.
				We are under no obligation to enforce the Terms of Use on your behalf against another
				User. While we encourage you to let us know if you believe another User has violated
				the Terms, we reserve the right to investigate and take appropriate action at our sole
				discretion.
				#[.vp_10]
				You agree not to, and will not assist, encourage, or enable others to use the HackPack
				Service to:
			ol
				li.
					Violate our content guidelines, for example, by writing a fake or defamatory
					review of another User, trading reviews with other Businesses, or compensating
					someone or being compensated to write or remove a review;
				li.
					Violate any third party's rights, including any breach of confidence, copyright,
					trademark, patent, trade secret, moral right, privacy right, right of publicity, or
					any other intellectual property or proprietary right;
				li.
					Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;
				li.
					Use the HackPack Service for commercial purposes, except as expressly
					permitted by these Terms of Use;
				li.
					Send bulk emails, surveys, or other mass messaging, whether commercial in
					nature or not; engage in keyword spamming, or otherwise attempt to
					manipulate the HackPack Service's search results or any third party website;
				li.
					Solicit personal information from minors, or submit or transmit pornography; or
				li.
					Post, directly or indirectly, any personally identifying information about another
					User without their consent. Personally identifying information can include, but is
					not limited to, a person's full name, first name, last name, email address,
					profession, phone number, address and place of work;
				li.
					Upload, post, email, otherwise transmit, or post links to any material that is false, misleading;
				li.
					Violate any applicable law.
			div You also agree not to, and will not assist, encourage, or enable others to:
			.vp_10
			ol
				li.
					Violate the Terms of Use;
				li.
					Modify, adapt, appropriate, reproduce, distribute, translate, create derivative
					works or adaptations of, publicly display, sell, trade, or in any way exploit the
					HackPack Service or any Content posted on the HackPack Service (other than
					Your Content), except as expressly authorized by us;
				li.
					Use any robot, spider, site search/retrieval application, or other automated
					device, process or means to access, retrieve, scrape, or index any portion of the
					HackPack Service or any Content posted on the HackPack Service;
				li.
					Reverse engineer any portion of the HackPack Service;
				li.
					Remove or modify any copyright, trademark or other proprietary rights notice
					that appears on any portion of the HackPack Service or on any materials printed
					or copied from the HackPack Service;
				li.
					Record, process, or mine information about other users;
				li.
					Access, retrieve or index any portion of the HackPack Service for purposes of
					constructing or populating a searchable database of Business reviews;
				li.
					Reformat or frame any portion of the HackPack Service;
				li.
					Take any action that imposes, or may impose, in our sole discretion, an
					unreasonable or disproportionately large load on our technology infrastructure
					or otherwise make excessive traffic demands of the HackPack Service;
				li.
					Attempt to gain unauthorized access to the HackPack Service, user accounts,
					computer systems or networks connected to the HackPack Service through
					hacking, password mining or any other means;
				li.
					Use the HackPack Service or any Content posted on the HackPack Service to
					transmit any computer viruses, worms, defects, trojan horses or other items of a
					destructive nature (collectively, “Viruses”);
				li.
					Use any device, software or routine that interferes with the proper working of
					the HackPack Service, or otherwise attempt to interfere with the proper working
					of the HackPack Service;
				li.
					Use the HackPack Service to violate the security of any computer network, crack
					passwords or security encryption codes; disrupt or interfere with the security of,
					or otherwise cause harm to, the HackPack Service or Content posted on the
					HackPack Service; or
				li.
					Remove, circumvent, disable, damage or otherwise interfere with any security-
					related features of the HackPack Service, features that prevent or restrict the use
					or copying of Content posted on the HackPack Service, or features that enforce
					limitations on the use of the HackPack Service.
					#[.vp_10]
					You acknowledge and agree that HackPack and its designees shall have the right
					(but not the obligation), in their sole discretion, to refuse to publish, remove, or
					block access to any Content that is available via the HackPack Service at any
					time, for any reason, or for no reason at all, with or without notice. Without
					limitation, HackPack and its designees shall have the right (but not the
					obligation), at their sole discretion, to refuse to publish, remove, or block access
					to any Content that violates these Terms of Use or is otherwise objectionable as
					determined by HackPack, in its sole discretion.


		li
			.fs_18 INTERACTIONS WITH USERS
			.vp_10
			div.
				HackPack only provides a platform for facilitating communication and exchange/sale of
				services between Users. We do not actively participate in any transactions, and do not
				verify or guarantee the truth or accuracy of any information posted by any User with
				regard to the existence, availability, authenticity, quality, or value of any service/item
				offered through the HackPack Service. We do not and cannot guarantee that
				transactions entered into between Users will be completed. You agree that you are
				solely and exclusively responsible for, must evaluate and make your own judgment
				about, and bear all risks associated with (i) your interactions with other members
				and/or Users, whether online or in person, and (ii) your use of any products or services
				made available by Users. You acknowledge that we do not screen or investigate the
				background of any Users, nor do we verify or otherwise warrant the accuracy of any
				representations or statements made by any User to you or others regarding products or
				services. Your dealings with Users, and any other terms, conditions, representations or
				warranties associated with such dealings, are between you and such User exclusively
				and do not involve HackPack. It is your sole responsibility to make whatever
				investigation and take whatever precautions you deem necessary or appropriate prior
				to interactions and transactions with other Users, whether online or in person.
				HACKPACK MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE BACKGROUND
				OR CONDUCT OF ANY USER.
				#[.vp_10]
				In no event shall HackPack be liable for any damages of any kind whatsoever, whether
				direct, indirect, general, special, compensatory, consequential, and/or incidental, arising
				out of or relating to the conduct of any User (including you) in connection with use of
				the HackPack Service, whether online or in person, including without limitation
				pecuniary loss, bodily injury or death, emotional distress, and/or any other damages
				resulting from communications, meetings, agreements or other dealings with other
				Users or other persons you encounter in connection with your use of the HackPack
				Service.

		li
			.fs_18 PREMIUM SERVICES
			.vp_10
			div.
				From time to time, HackPack may provide additional features and/or services that you
				pay for (“Premium HackPack Services”). HackPack may also offer from time to time in its
				sole discretion, certain Premium HackPack Services for free, whether for a trial period or
				otherwise. Unless expressly stated otherwise, references in these Terms of Use to the
				HackPack Services include the Premium HackPack Services. Unless otherwise stated, all
				fees for Premium HackPack Services are quoted in U.S. Dollars. You are responsible for
				paying all fees and applicable taxes associated in a timely manner with a payment
				accepted through the HackPack Services. If your payment method fails or your account
				is past due, we may collect fees using other collection mechanisms. We reserve the right
				to change the fees at any time in its sole discretion. Any change, update, or modification
				will be effective immediately upon posting on through the HackPack Services

		li
			.fs_18 LIMITATION OF LIABILITY
			.vp_10
			div.
				PLEASE READ THIS SECTION CAREFULLY SINCE IT LIMITS THE LIABILITY OF HACKPACK
				AND ITS SUBSIDIARIES, AFFILIATES, AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, AND
				LICENSORS (COLLECTIVELY, THE “HACKPACK ENTITIES”). EACH OF THE SUBSECTIONS
				BELOW ONLY APPLIES UP TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE
				LAW. NOTHING HEREIN IS INTENDED TO LIMIT ANY RIGHTS YOU MAY HAVE WHICH MAY
				NOT BE LAWFULLY LIMITED.
				#[.vp_10]
				THE HACKPACK SERVICE IS MADE AVAILABLE TO YOU ON AN “AS IS”, “WITH ALL
				FAULTS” AND “AS AVAILABLE” BASIS. YOUR USE OF THE HACKPACK SERVICE IS AT YOUR
				OWN DISCRETION AND RISK. THE HACKPACK ENTITIES MAKE NO CLAIMS OR PROMISES
				ABOUT THE QUALITY, ACCURACY, OR RELIABILITY OF THE HACKPACK SERVICE, ITS
				SAFETY OR SECURITY, OR THE HACKPACK SERVICE CONTENT. ACCORDINGLY, THE
				HACKPACK ENTITIES ARE NOT LIABLE TO YOU FOR ANY LOSS OR DAMAGE THAT MIGHT
				ARISE, FOR EXAMPLE, FROM YOUR RELIANCE ON THE QUALITY, ACCURACY, OR
				RELIABILITY OF THE BUSINESS LISTINGS, RATINGS, OR REVIEWS.
				#[.vp_10]
				THE HACKPACK ENTITIES MAKE NO CLAIMS OR PROMISES WITH RESPECT TO ANY THIRD
				PARTY, SUCH AS THE BUSINESSES LISTED ON THE HACKPACK SERVICE OR THE HACKPACK
				SERVICE'S USERS. ACCORDINGLY, THE HACKPACK ENTITIES ARE NOT LIABLE TO YOU FOR
				ANY LOSS OR DAMAGE THAT MIGHT ARISE FROM THEIR ACTIONS, INCLUDING, FOR
				EXAMPLE, IF ANOTHER USER MISUSES YOUR CONTENT OR IDENTITY, OR IF YOU HAVE A
				NEGATIVE EXPERIENCE WITH ANY OF THE USERS. YOUR PURCHASE, USE OF PRODUCTS
				OR SERVICES OFFERED BY THIRD PARTIES THROUGH THE HACKPACK SERVICE IS AT YOUR
				OWN DISCRETION AND RISK.
				#[.vp_10]
				THE HACKPACK ENTITIES EXPRESSLY DISCLAIM ALL WARRANTIES, WHETHER EXPRESS OR
				IMPLIED, INCLUDING WARRANTIES AS TO THE PRODUCTS OR SERVICES OFFERED BY
				BUSINESSES LISTED ON THE HACKPACK SERVICE, AND IMPLIED WARRANTIES OF
				MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
				NO ORAL OR WRITTEN INFORMATION OR ADVICE PROVIDED TO YOU BY A
				REPRESENTATIVE OF ONE OF THE HACKPACK ENTITIES SHALL CREATE A
				REPRESENTATION OR WARRANTY.
				#[.vp_10]
				YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH
				THE HACKPACK SERVICE, RELATED SERVICES, OR ANY OTHER GRIEVANCE SHALL BE
				YOUR TERMINATION AND DISCONTINUATION OF ACCESS TO, OR USE OF THE HACKPACK
				SERVICE.
				#[.vp_10]
				THE HACKPACK ENTITIES' MAXIMUM AGREGGATE LIABILITY TO YOU FOR LOSSES OR
				DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE HACKPACK SERVICE OR THESE
				TERMS OF USE IS LIMITED TO THE GREATER OF (i) THE AMOUNT PAID, IF ANY, BY YOU
				TO THE HACKPACK ENTITIES IN CONNECTION WITH THE HACKPACK SERVICE IN THE 12
				MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY, OR (ii) $50.
				THE HACKPACK ENTITIES DISCLAIM LIABILITY AND SHALL NOT BE LIABLE FOR ANY (i)
				INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY, RELIANCE, OR CONSEQUENTIAL
				DAMAGES, (ii) LOSS OF PROFITS, (iii) BUSINESS INTERRUPTION, (iv) REPUTATIONAL
				HARM, OR (v) LOSS OF INFORMATION OR DATA. IN NO EVENT SHALL HACKPACK
				ENTITIES BE LIABLE FOR ANY INJURY, LOSS, CLAIM, DAMAGE OR ANY SPECIAL,
				EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND,
				WHETHER BASED IN CONTRACT, TORT OR OTHERWISE, WHICH ARISES OUT OF OR IS
				ANY WAY CONNECTED WITH (I) ANY USE OF THE HACKPACK SERVICE OR THE CONTENT
				POSTED ON THE HACKPACK SERVICE, (II) ANY FAILURE OR DELAY (INCLUDING, BUT NOT
				LIMITED TO, THE USE OR INABILITY TO USE ANY COMPONENT OF THE SERVICES OR THE
				HACKPACK SERVICE FOR RESERVATIONS), (III) THE PERFORMANCE OR NON-
				PERFORMANCE OF ANY BUSINESS IN CONNECTION WITH THE SERVICES. IN ADDITION,
				ALL END USERS SPECIFICALLY UNDERSTAND AND AGREE THAT ANY THIRD PARTY
				DIRECTING END USERS TO THE HACKPACK SERVICE BY REFERRAL, LINK OR ANY OTHER
				MEANS IS NOT LIABLE TO USER FOR ANY REASON WHATSOEVER, INCLUDING BUT NOT
				LIMITED TO DAMAGES OR LOSS ASSOCIATED WITH THE USE OF THE HACKPACK SERVICE
				OR THE CONTENT POSTED ON THE HACKPACK SERVICE. HACKPACK ENTITIES ARE
				NEITHER AGENTS OF NOR ARE CONNECTED WITH ANY BUSINESS FEATURED ON THE
				HACKPACK SERVICE.

		li
			.fs_18 INDEMNITY
			.vp_10
			div.
				You agree to defend, indemnify and hold harmless the HackPack Parties, from and
				against any and all claims, damages, obligations, losses, liabilities, costs or debt, and
				expenses (including but not limited to attorney’s fees) arising from: (i) your use of and
				access to the HackPack Service, including any data or content transmitted or received by
				you; (ii) your violation of any term of these Terms of Use; (iii) your violation of any third-
				party right, including without limitation any right of privacy or Intellectual Property
				Rights; (iv) your violation of any applicable law, rule or regulation; (v) any claims or
				damages that arise as a result of any of Your Content or any that is submitted via your
				account; or (vi) any other party’s access and use of the HackPack Service with your
				username, password or other appropriate security code.

		li
			.fs_18 TERMINATION
			.vp_10
			div.
				You may terminate the Terms of Use at any time by closing your account, discontinuing
				your use of the HackPack Service, and providing HackPack with a notice of termination
				here. Please review our Privacy Policy for information about what we do with your
				account when terminated.
				#[.vp_10]
				We may close your account, suspend your ability to use certain portions of the HackPack
				Service, and/or ban you altogether from the HackPack Service for any or no reason, and
				without notice or liability of any kind. Any such action could prevent you from accessing
				your account, the HackPack Service, Your Content, or any other related information.
				In the event of any termination, whether by you or us, these Terms of Use will continue
				in full force and effect, including our right to use Your Content.


	.fs_22 END USER LICENSE GRANT
	ul
		li
			.fs_18 HACKPACK SERVICE
			.vp_10
			div.
				Subject to the terms and conditions of these Terms of Use, you are hereby granted a
				non-exclusive, limited, non-transferable, freely revocable license to use the HackPack
				Service for your personal, non-commercial use, except as otherwise permitted by these
				Terms of Use. HackPack reserves all rights not expressly granted herein in the HackPack
				Service and the HackPack Content (as defined below). HackPack may terminate this
				license at any time for any reason or no reason.

		li
			.fs_18 MOBILE SOFTWARE
			.vp_10
			div.
				We make available software to access the HackPack Service via a mobile device (“Mobile
				Software”). To use the Mobile Software you must have a mobile device that is
				compatible with the Mobile HackPack Service. We do not warrant that the Mobile
				Software will be compatible with your mobile device. We hereby grant you a non-
				exclusive, non-transferable, revocable license to use a compiled code copy of the Mobile
				Software for one HackPack account on one mobile device owned or leased solely by
				you, for your personal, non-commercial use, except as provided in these Terms of Use.
				You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile
				Software, except to the extent that such restriction is expressly prohibited by law; (ii)
				rent, lease, loan, resell, sublicense, distribute or otherwise transfer the Mobile Software
				to any third party or use the Mobile Software to provide time sharing or similar services
				for any third party; (iii) make any copies of the Mobile Software; (iv) remove,
				circumvent, disable, damage or otherwise interfere with security-related features of the
				Mobile Software, features that prevent or restrict use or copying of any content
				accessible through the Mobile Software, or features that enforce limitations on use of
				the Mobile Software; or (v) delete the copyright and/or other proprietary rights notices
				on the Mobile Software. You acknowledge that we may from time to time issue
				upgraded versions of the Mobile Software, and may automatically electronically
				upgrade the version of the Mobile Software that you are using on your mobile device.
				You consent to such automatic upgrading on your mobile device, and agree that the
				terms and conditions of these Terms of Use will apply to all such upgrades. Any third-
				party code that may be incorporated in the Mobile Software is covered by the
				applicable open source or third-party license EULA, if any, authorizing use of such code.
				The foregoing license grant is not a sale of the Mobile Software or any copy thereof, and
				we or our third party partners or suppliers retain all right, title, and interest in the
				Mobile Software (and any copy thereof).

		li
			.fs_18 MOBILE SOFTWARE FROM APPLE APP STORE
			.vp_10
			div.
				This paragraph is intended to apply to you if you have downloaded the Mobile Software
				from the Apple App Store. You and us acknowledge that these Terms of Use is
				concluded between us and you only, and not with Apple Inc. (“Apple”), and as between
				us and Apple, we, not Apple, is solely responsible for the Software and HackPack Service
				and the content thereof. You acknowledge that Apple, Inc. has no obligation whatsoever
				to furnish any maintenance and support services with respect to the Mobile Software.
				You acknowledge that you have reviewed the App Store Terms and Conditions (located
				online at #[a(ng-href="http://www.apple.com/legal/itunes/us/terms.html#APPS", target="_blank") www.apple.com/legal/itunes/us/terms.html#APPS]). You represent and
				warrant that (i) you are not located in a country that is subject to a U.S. Government
				embargo, or that has been designated by the U.S. Government as a “terrorist
				supporting” country; and (ii) You are not listed on any U.S. Government “watch list” of
				prohibited or restricted parties, including the Specially Designated Nationals list
				published by the Office of Foreign Assets Control of the U.S. Treasury or the Denied
				Persons List published by the U.S. Department of Commerce.
				This Agreement incorporates by reference the Licensed Application End User License
				Agreement (the “LAEULA”) published by Apple, Inc. (located online at
				#[a(ng-href="http://www.apple.com/legal/itunes/appstore/dev/stdeula/", target="_blank") www.apple.com/legal/itunes/appstore/dev/stdeula/]). For purposes of these
				Terms of Use, the “Mobile Software” is considered the “Licensed Application” as defined
				in the LAEULA and “HackPack” is considered the “Application Provider” as defined in the
				LAEULA. If any terms of these Terms of Use conflict with the terms of the LAEULA, the
				terms of these Terms of Use shall control.

		li
			.fs_18 MOBILE SOFTWARE FROM GOOGLE ANDROID MARKET
			.vp_10
			div.
				This paragraph is intended to apply to you if you have downloaded the Mobile Software
				on a device powered by the Android operating system. HackPack and you, the end‐user
				of the Mobile Software and HackPack Service, acknowledge that these Terms of Use are
				entered into by and between us and you. We are solely responsible for the Software
				and HackPack Service. Should you have downloaded the Software from the Google
				Android Market located online at #[a(ng-href="https://play.google.com/store", target="_blank") play.google.com/store]. You acknowledge
				that you have reviewed the Android Market Terms of Service (located online at
				#[a(ng-href="https://www.google.com/mobile/android/market-tos.html", target="_blank") www.google.com/mobile/android/market-tos.html]) and the Android Market
				Business and Program Policies (located online at
				#[a(ng-href="https://play.google.com/about/android-developer-policies.html", target="_blank") play.google.com/about/android-developer-policies.html]).
				You represent and warrant that (i) you are not located in a country that is subject to a U.S.
				Government embargo, or that has been designated by the U.S. Government as a “terrorist
				supporting” country; and (ii) you are not listed on any U.S. Government “watch list” of
				prohibited or restricted parties, including the Specially Designated Nationals list
				published by the Office of Foreign Assets Control of the U.S. Treasury or the Denied
				Persons List published by the U.S. Department of Commerce


	.fs_22 MISCELLANEOUS
	ul
		li
			.fs_18 USER DISPUTES
			.vp_10
			div.
				We are not responsible for addressing any disputes between any Users. In the event of a
				concern, claim or dispute, Users shall communicate directly with the other party in
				resolving such concern, claim or dispute. In the event we receive complaints about a
				User, we will investigate the complaint at our sole discretion and may direct the User to
				respond to the other party directly.

		li
			.fs_18 ENTIRE AGREEMENT / SEVERABILITY
			.vp_10
			div.
				These Terms of Use, together with any amendments and any additional agreements you
				may enter into with us in connection with the HackPack Service, shall constitute the
				entire agreement between you and us concerning the HackPack Service. If any provision
				of the Terms of Use is deemed invalid by a court of competent jurisdiction, the invalidity
				of such provision shall not affect the validity of the remaining provisions of these Terms
				of Use, which shall remain in full force and effect.

		li
			.fs_18 NO WAIVER
			.vp_10
			div.
				No waiver of any term of these Terms of Use shall be deemed a further or continuing
				waiver of such term or any other term, and our failure to assert any right or provision
				under these Terms of Use shall not constitute a waiver of such right or provision.

		li
			.fs_18 THIRD PARTY BENEFICIARIES AND AGREEMENTS
			.vp_10
			div.
				If you downloaded the Mobile Software from the Apple App Store, you acknowledge
				and agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of these
				Terms of Use, and that, upon your acceptance of the terms and conditions of these
				Terms of Use, Apple will have the right (and will be deemed to have accepted the right)
				to enforce these Terms of Use against you as a third party beneficiary hereof. You agree
				to comply with, and your license to use the Mobile Software and HackPack Service is
				conditioned upon your compliance with, all applicable third-party terms of agreement,
				as may be applicable, when using the Mobile Software and/or HackPack Service.

		li
			.fs_18 ASSIGNMENT
			.vp_10
			div.
				This Agreement, and any rights and licenses granted hereunder, may not be transferred
				or assigned by you, but may be assigned by us without restriction or notice.

		li
			.fs_18 THIRD PARTY LINKS
			.vp_10
			div.
				The HackPack Service may contain links to third-party websites, advertisers, services,
				special offers, or other events or activities that are not owned or controlled by us. We
				do not endorse or assume any responsibility for any such third-party sites, information,
				materials, products, or services. If you access a third party website from the HackPack
				Service, such as through Facebook Connect or Twitter, you do so at your own risk, and
				you understand that these Terms of Use and Privacy Policy do not apply to your use of
				such sites. You expressly release us from any and all liability arising from your use of any
				third-party website, service, or content. Additionally, your dealings with or participation
				in promotions of advertisers and Businesses found on the HackPack Service, including
				payment and delivery of goods, and any other terms (such as warranties) are solely
				between you and such third parties. You agree that we shall not be responsible for any
				loss or damage of any sort relating to your dealings with such third parties.

		li
			.fs_18 NOTICES
			.vp_10
			div.
				We may provide notices, whether such notices are required by law or are for marketing
				or other business related purposes, to you via email notice, written or hard copy notice,
				or through posting of such notice on our website, Apple App Store or Google Android
				Marketplace, as determined by us in our sole discretion. We reserve the right to
				determine the form and means of providing notifications to our Users, provided that
				you may opt out of certain means of notification as described in these Terms of Use.

		li
			.fs_18 GOVERNING LAW/ABRITRATION
			.vp_10
			div.
				The laws of State of California, excluding its conflicts-of-law rules, govern these Terms of
				Use.  The parties agree that the UN Convention on Contracts for the International Sale
				of Goods (Vienna, 1980) shall not apply to this Agreement or to any dispute or
				transaction arising out of this Agreement.  Any dispute arising from or relating to the
				subject matter of these Terms of Use shall be finally settled by arbitration in Santa Clara
				County, California, using the English language in accordance with the Streamlined
				Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc.
				(“JAMS”) then in effect, by one commercial arbitrator with substantial experience in
				resolving intellectual property and commercial contract disputes, who shall be selected
				from the appropriate list of JAMS arbitrators in accordance with the Streamlined
				Arbitration Rules and Procedures of JAMS. Judgment upon the award so rendered may
				be entered in a court having jurisdiction, or application may be made to such court for
				judicial acceptance of any award and an order of enforcement, as the case may be. Any
				arbitration under these Terms of Use will take place on an individual basis: class
				arbitrations and class actions are not permitted. YOU UNDERSTAND AND AGREE THAT
				BY ENTERING INTO THIS AGREEMENT, YOU AND US ARE EACH WAIVING THE RIGHT TO
				TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION. Notwithstanding the foregoing,
				each party shall have the right to institute an action at any time in a court of proper
				jurisdiction for injunctive or other equitable relief.

		li
			.fs_18 CONTACT US
			.vp_10
			div.
				Should you wish to contact us with any questions, complaints or claims with respect to the
				HackPack Service, you should visit our website at #[a(href="https://hackpack.press") www.hackpack.press] or email
				#[a(href="mailto:yourintern@hackpack.press") yourintern@hackpack.press].

.vp_50
