.hack-pack__new-post
	width: 580px
	background-color: #fff
	padding 10px
	absolute top 0 left $size
	z-index: 50
	box-shadow rgba(42,73,119, 0.3) 0 3px 10px

.hack-pack__opengraph
	padding 10px

.hack-pack__new-post__file-previews
	padding: 0 5px 5px
	border-bottom: 1px dashed #e3e5e8
	font-size: 0

.hack-pack__new-post__textarea
	min-height: 62px !important
	background-color: #fff
	padding 5px
	box-shadow #ccc 0 0 0 1px inset
