.hack-pack__posts__sidebar
	width: $size
	height: 100%
	absolute top 0 left 0
	z-index: 50

.hack-pack__posts__navig
	display: block

.hack-pack__posts__navig__item
	width: $size
	display: block
	padding 15px 0
	cursor: pointer
	text-align: center
	font-size: 18px
	&:hover
		font-size: 20px
	.sl-icon
		line-height: 24px
		display-inline-block()
	.sl-icon-close
		font-size: 16px
		&:hover
			font-size: 18px

.hack-pack__posts__navig__item__count
	font-size: 12px



.hack-pack__posts__container
	height: 100%
	margin-left: $size
	position: relative
	overflow-x hidden
	overflow-y: auto
