.description
	background-color: #0C90D2
	padding 6px 10px
	position: relative
	cursor: default
	color #fff
	display-inline-block()
	&:before
		content ''
		display: block
		width: 3px
		height: 100%
		background-color: #0070A9
		absolute top 0 left 0
