.info-link
	@extend .sl-icon
	@extend .sl-icon-infomation-circle
	width: 20px
	height-lineheight(20px)
	text-align: center
	font-size: 15px
	font-weight: 600
	text-decoration: none
	color: #fd9c00
	display-inline-block()
