.page404

	.page404__part.page404__part_left
		.center-block-parent
			.center-block
				.t-text_center
					.page404__error-num 404
					.page404__title
						| Page not found

	a.page404__part.page404__part_right(ui-sref="landing")
		.center-block-parent
			.center-block
				.t-text_center
					img.page404__logo(src="data/img/logo.svg")
					.page404__title
						| Go back to the site
