.vp_30
.t-center
	.content
		.p_10

			.fs_24 What is HackPack
			p HackPack.press is the global network for the media industry that strengthens independent journalism and helps media outlets better inform the public about the news that matters.
			p It connects journalists, fixers, photographers, videographers, editors and experts to fill the growing coverage gap that is arising from layoffs and diminished newsrooms. Members gain access to aggregated and filtered freelance and full-time gigs, story ideas, event announcements and experts. They also instantly find the most qualified member on location for breaking news or urgent requests.
			p HackPack enables  way members to  earn a living specializing in an area, media outlets too can more efficiently and cost-effectively produce original content, while experts can engage with content producers who are interested in material from their fields of expertise.


			.vp_20
			.fs_24 Why Are We Creating HackPack
			p We are journalists, fixers, content publishers/marketers and ex-PR professionals. We love telling stories. However, we have seen and heard from you about how newsrooms are shrinking. Fewer people are being asked to do more and global networks that were once renowned and impactful are disappearing. As a result, the information about our world is diluted by people 1000s of miles away from the events in an office. We were also largely inspired by the events of 2014 in Ukraine and the difficulties many journalists faced in producing authoritative information about the conflict.
			p All of this inspired us to strike out and develop a system that would:
			ul
				li Ensure members can earn a living focusing on a specific expertise or geography
				li Help connect the most qualified people with organizations seeking information or content
				li Create a means for accountability while helping to incentivize professionalism
				li Enable media outlets to cost-effectively produce stories about the news that matters, as it happens, wherever it happens

			.vp_20
			.fs_24 Who Are We
			ul
				li
					.fs_16 Justin Varilek
					.fs_14.t-text_light CEO
					.vp_10
				li
					.fs_16 Alexander Chubarov
					.fs_14.t-text_light CTO
					.vp_10
				li
					.fs_16 Nikhil Narayan Sivadas
					.fs_14.t-text_light Community Lead, Asia
					.vp_10
				li
					.fs_16 Anastasia Anisimova
					.fs_14.t-text_light Community Lead, Russia & CIS
					.vp_10
				li
					.fs_16 Mariama Abdou Moussa
					.fs_14.t-text_light Community Lead, Western Africa
					.vp_10
				li
					.fs_16 Luke McCann
					.fs_14.t-text_light Community Lead, Graduating Students


			.vp_20
			.fs_24 Where Are We
			p HackPack has quickly grown global with over 2000 members in more than 70 countries. We started with a focus on Russia and Ukraine, helping journalists connect with fixers and newsrooms connect with journalists during the conflict. We have gone on to assist with the refugee crisis in the Balkans, Paris terrorist attacks and U.S. general elections. Through HackPack, newsrooms attain photo, video and written reports from members who are the most informed. In turn, we the public are able to stay just a bit better informed about the world around us.


			.vp_20
			.fs_24 Our Origins
			p Justin Varilek began his career as a journalist with The Moscow Times, then helped found the communications department at a new university, Skoltech, created in collaboration with MIT. He witnessed the growing trend for freelancing, vulnerabilities as a journalist, and the need to efficiently connect with content producers around the world. He also benefited from tools such as Facebook forums: Moscow Hack Pack and Find a Journalist Around the World.
			p After seeing these challenges and opportunities, Justin decided to create HackPack. He began by interviewing over 50 journalists, editors, fixers, photographer, videographers and experts to refine HackPack. Then he began gathering the team.
			p Due to the conflict in Ukraine and Justin’s journalist connections in Russia, HackPack began with a focus on those two regions. Anastasia Anisimova joined the team while a special reports producer at the Russian national radio station Kommersant.fm. While in Russia, Justin met Alexander Chubarov. He quickly chose to leave similar projects in the media sphere to develop the technology. To provide focus on the U.S. primaries, Luke McCann began overseeing New Hampshire operations and student needs.
			p HackPack then agreed on a strategic collaboration with Find A Journalist around the world. The two organizations share job opportunities and help connect their separate members. Within this process, FAJ admins Nikhil Narayan Sivadas and Mariama Abdou Moussa both joined HackPack as Asia and Western Africa community leads, respectively.
			p HackPack plans to continue growing with a special emphasis in regions with heightened news demand: Middle East, India, Cuba and Iran.

.vp_50
