doctype html
html
	head
		meta(charset='utf-8')
		title IcoMoon Demo
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='data/css/icons-font.css')
	body
		.clearfix.mhl.ptl
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bin-1
					span.mls sl-icon-bin-1

			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-flash-2
					span.mls sl-icon-flash-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-hide
					span.mls sl-icon-hide
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-link-2
					span.mls sl-icon-link-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-link-3
					span.mls sl-icon-link-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-paperclip-1
					span.mls sl-icon-paperclip-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-paperclip-2
					span.mls sl-icon-paperclip-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-pen-4
					span.mls sl-icon-pen-4
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-pencil-3
					span.mls sl-icon-pencil-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-pencil-fill
					span.mls sl-icon-pencil-fill
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-pencil-write-2
					span.mls sl-icon-pencil-write-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-print-text
					span.mls sl-icon-print-text
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-quill-ink
					span.mls sl-icon-quill-ink
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-quill-write
					span.mls sl-icon-quill-write
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-search
					span.mls sl-icon-search
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-typewriter-1
					span.mls sl-icon-typewriter-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-1
					span.mls sl-icon-view-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-2
					span.mls sl-icon-view-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-check-2
					span.mls sl-icon-check-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-check-double-1
					span.mls sl-icon-check-double-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-cog
					span.mls sl-icon-cog
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-settings-1
					span.mls sl-icon-settings-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-toolbox
					span.mls sl-icon-toolbox
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-key-hole-2
					span.mls sl-icon-key-hole-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-logout-2
					span.mls sl-icon-logout-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-alarm-silent
					span.mls sl-icon-alarm-silent
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-alarm-sound
					span.mls sl-icon-alarm-sound
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-alarm
					span.mls sl-icon-alarm
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-calendar-1
					span.mls sl-icon-calendar-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-reply
					span.mls sl-icon-reply
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-account-circle-1
					span.mls sl-icon-account-circle-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-account-group-4
					span.mls sl-icon-account-group-4
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-account-group-5
					span.mls sl-icon-account-group-5
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-group-chat
					span.mls sl-icon-group-chat
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-id-card-2
					span.mls sl-icon-id-card-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-id-picture-2
					span.mls sl-icon-id-picture-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-person-add-2
					span.mls sl-icon-person-add-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-person-block-2
					span.mls sl-icon-person-block-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-person-edit-2
					span.mls sl-icon-person-edit-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-person-subtract-2
					span.mls sl-icon-person-subtract-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bubble-chat-1
					span.mls sl-icon-bubble-chat-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-chat-double-bubble-2
					span.mls sl-icon-chat-double-bubble-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-video-camera
					span.mls sl-icon-video-camera
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-book-open-4
					span.mls sl-icon-book-open-4
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-filter-3
					span.mls sl-icon-filter-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-new-document
					span.mls sl-icon-new-document
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-newspaper
					span.mls sl-icon-newspaper
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-content
					span.mls sl-icon-view-content
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-headline
					span.mls sl-icon-view-headline
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-list
					span.mls sl-icon-view-list
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-module-2
					span.mls sl-icon-view-module-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-heart
					span.mls sl-icon-heart
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-rank-army-star-2
					span.mls sl-icon-rank-army-star-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-thumbs-down-1
					span.mls sl-icon-thumbs-down-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-thumbs-up-1
					span.mls sl-icon-thumbs-up-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-lock-close-1
					span.mls sl-icon-lock-close-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-lock-open-1
					span.mls sl-icon-lock-open-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-megaphone-1
					span.mls sl-icon-megaphone-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-infomation-circle
					span.mls sl-icon-infomation-circle
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-report-problem-triangle
					span.mls sl-icon-report-problem-triangle
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-download-3
					span.mls sl-icon-download-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-transfer-3
					span.mls sl-icon-transfer-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-synchronize-3
					span.mls sl-icon-synchronize-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-3
					span.mls sl-icon-server-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-check-1
					span.mls sl-icon-server-check-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-edit-1
					span.mls sl-icon-server-edit-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-lock-1
					span.mls sl-icon-server-lock-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-setting-1
					span.mls sl-icon-server-setting-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-view-1
					span.mls sl-icon-server-view-1
					
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-server-warning-1
					span.mls sl-icon-server-warning-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-add-1
					span.mls sl-icon-add-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-add-2
					span.mls sl-icon-add-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-remove-2
					span.mls sl-icon-remove-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-expand-horizontal-4
					span.mls sl-icon-expand-horizontal-4
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-expand-vertical-4
					span.mls sl-icon-expand-vertical-4
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-cross-over
					span.mls sl-icon-cross-over
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-add
					span.mls sl-icon-view-add
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-lock
					span.mls sl-icon-view-lock
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-subtract
					span.mls sl-icon-view-subtract
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-camera-2
					span.mls sl-icon-camera-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-camera-top-view
					span.mls sl-icon-camera-top-view
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-picture-1
					span.mls sl-icon-picture-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-video-camera-1
					span.mls sl-icon-video-camera-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-microphone-3
					span.mls sl-icon-microphone-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-radio-on-air
					span.mls sl-icon-radio-on-air
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-volume-max-1
					span.mls sl-icon-volume-max-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-volume-off-1
					span.mls sl-icon-volume-off-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-coupon-discount
					span.mls sl-icon-coupon-discount
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-hand-bag-3
					span.mls sl-icon-hand-bag-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-receipt-4
					span.mls sl-icon-receipt-4
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-wallet-3
					span.mls sl-icon-wallet-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-network-share
					span.mls sl-icon-network-share
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-down
					span.mls sl-icon-arrow-down
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-left
					span.mls sl-icon-arrow-left
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-return
					span.mls sl-icon-arrow-return
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-right
					span.mls sl-icon-arrow-right
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-up
					span.mls sl-icon-arrow-up
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-button-enter
					span.mls sl-icon-button-enter
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-location-map
					span.mls sl-icon-location-map
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-location-pin-8
					span.mls sl-icon-location-pin-8
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-location-pin-information-2
					span.mls sl-icon-location-pin-information-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-location-pin-unknown-2
					span.mls sl-icon-location-pin-unknown-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-map-1
					span.mls sl-icon-map-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-map-search
					span.mls sl-icon-map-search
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-building-11
					span.mls sl-icon-building-11
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-globe-2
					span.mls sl-icon-globe-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-globe-3
					span.mls sl-icon-globe-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-home-1
					span.mls sl-icon-home-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-car-10
					span.mls sl-icon-car-10
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-coffee-cup-2
					span.mls sl-icon-coffee-cup-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-coffee-cup-3
					span.mls sl-icon-coffee-cup-3
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-copy-1
					span.mls sl-icon-copy-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-add-1
					span.mls sl-icon-file-add-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-add-2
					span.mls sl-icon-file-add-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-check-2
					span.mls sl-icon-file-check-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-download-2
					span.mls sl-icon-file-download-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-edit-1
					span.mls sl-icon-file-edit-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-edit-2
					span.mls sl-icon-file-edit-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-lock-2
					span.mls sl-icon-file-lock-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-new-2
					span.mls sl-icon-file-new-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-question-2
					span.mls sl-icon-file-question-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-refresh-2
					span.mls sl-icon-file-refresh-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-subtract-2
					span.mls sl-icon-file-subtract-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-view-2
					span.mls sl-icon-file-view-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-notepad
					span.mls sl-icon-file-notepad
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-pdf
					span.mls sl-icon-file-pdf
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-table
					span.mls sl-icon-file-table
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-file-format-zip
					span.mls sl-icon-file-format-zip
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-down-7
					span.mls sl-icon-arrow-down-7
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-down-9
					span.mls sl-icon-arrow-down-9
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-left-2
					span.mls sl-icon-arrow-left-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-left-7
					span.mls sl-icon-arrow-left-7
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-left-9
					span.mls sl-icon-arrow-left-9
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-left-12
					span.mls sl-icon-arrow-left-12
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-right-2
					span.mls sl-icon-arrow-right-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-right-7
					span.mls sl-icon-arrow-right-7
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-right-9
					span.mls sl-icon-arrow-right-9
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-right-12
					span.mls sl-icon-arrow-right-12
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-up-7
					span.mls sl-icon-arrow-up-7
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-arrow-up-9
					span.mls sl-icon-arrow-up-9
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-check-1
					span.mls sl-icon-check-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-check-double-2
					span.mls sl-icon-check-double-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-close
					span.mls sl-icon-close
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-clock-2
					span.mls sl-icon-clock-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-email-2
					span.mls sl-icon-email-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bubble-chat-12
					span.mls sl-icon-bubble-chat-12
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bubble-chat-2
					span.mls sl-icon-bubble-chat-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bubble-chat-text-1
					span.mls sl-icon-bubble-chat-text-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bubble-chat-text-2
					span.mls sl-icon-bubble-chat-text-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-computer-chip-32-bit
					span.mls sl-icon-computer-chip-32-bit
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-computer-chip-64-bit
					span.mls sl-icon-computer-chip-64-bit
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-computer-chip
					span.mls sl-icon-computer-chip
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-computer-imac-2
					span.mls sl-icon-computer-imac-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-computer-notebook-2
					span.mls sl-icon-computer-notebook-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-computer-pc-2
					span.mls sl-icon-computer-pc-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-floppy-disk
					span.mls sl-icon-floppy-disk
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-phone-5
					span.mls sl-icon-phone-5
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-phone-call-incoming
					span.mls sl-icon-phone-call-incoming
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-video-camera2
					span.mls sl-icon-video-camera2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-navigation-drawer-1
					span.mls sl-icon-navigation-drawer-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-navigation-drawer-2
					span.mls sl-icon-navigation-drawer-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-headline2
					span.mls sl-icon-view-headline2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-module-1
					span.mls sl-icon-view-module-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-view-module-22
					span.mls sl-icon-view-module-22
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-megaphone-2
					span.mls sl-icon-megaphone-2
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-check-list
					span.mls sl-icon-check-list
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-armchair-1
					span.mls sl-icon-armchair-1
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-coffin
					span.mls sl-icon-coffin
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-grenade
					span.mls sl-icon-grenade
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-tank
					span.mls sl-icon-tank
				
			.glyph.fs1
				.clearfix.bshadow0.pbs
					i.sl-icon.sl-icon-bulletproof-armor
					span.mls sl-icon-bulletproof-armor
				
				