.vp_30
.t-center
	.content
		.p_10

			.fs_24 Payment
			p We are a socially minded startup with a for-profit logic. We seek long-term sustainability to continually improve based upon your evolving needs. For those reasons, we’ve designed the following payment plans to ensure you make the connection you need and important stories are told.

			table.table-list.table-list_10_10.t-text_center
				thead
					th Connecting
					th Rapid Connections
					th My Connections
					th VIP Service
				tbody
					tr
						td Free
						td $15
						td $50
						td Based upon client needs
					tr
						td Post gigs, story ideas, events and press releases to ‘The Feed’
						td Access to public phone numbers
						td Filter searches with just your colleagues
						td Our team works closely with you to find and vet members for your projects
					tr
						td Unlimited Searches
						td Unlimited private messages
						td Access a Team Management system to view your team & their history
						td All previous benefits
					tr
						td Send up to 20 private messages per month
						td All previous benefits
						td Promote your organization with an organization profile
						td
					tr
						td Promote yourself with a personal profile
						td
						td Promote your experts with expert profiles
						td
					tr
						td Write and View Colleague Feedback about members
						td
						td All previous benefits
						td

			.vp_10
			p We stand behind NGOs and believe that your activities are essential to providing information for the public. If your policies or capabilities do not permit you to pay for the ‘My Connections’ plan, then we are happy to provide you a subscription in exchange for a certain level of activity on the site. If you are unable to uphold the following level of activity, your plan will be changed to Connecting

			.fs_24 Required Minimum Activity
			ul
				li 3 completed expert profiles (bio, links, profile pic, expertise, location, languages, contacting information)
				li 1 completed Admin profile  (bio, links, profile pic, expertise, location, languages, contacting information)
				li 1 completed Org profile  (Description, links, profile pic, expertise, location)
				li 3 published posts per month in ‘The Feed’ (freelance or full-time gigs, event announcements, press releases, op-eds)
				li 3 Responses to quote queries per month
				li Written feedback during the first month, commenting on what you dislike and like about HackPack as well as what you want added to the site.
				li Permission to use company name and logo in list of organizations we work with

.vp_50
