//.btn.btn_26.btn_white(
//	ng-if="model.user.is_admin && model.user.is_controlled_by_company == true && model.user.is_controlled_by_expert == false"
//	ng-show="!model.grantAccessToExpertEditing && !model.mainInfoEditing && !model.privateSettingsEditing"
//	ng-bind="'PROFILE.GRANT_ACCESS_TO_EXPERT.EDIT_BUTTON' | translate"
//	ng-click="enterGrantAccessToExpert()"
//)
//.btn.btn_26.btn_white(
//	ng-if="!RC('Expert', model.mainInfoForm.role.name) && !RC('PR', model.mainInfoForm.role.name) && !RC('NGO', model.mainInfoForm.role.name)"
//	ng-show="!model.grantAccessToExpertEditing && !model.mainInfoEditing && !model.privateSettingsEditing"
//	ng-bind="'PROFILE.PRIVACY_SETTINGS.EDIT_BUTTON' | translate"
//	ng-click="enterEditPrivateSettings()"
//)


include profile/_principal
include profile/_edit-principal

include profile/_suggestions
