/*body.s-rules-confirmation*/
	/*background-image: url(/data/img/bg9.jpg)*/
	/*background-repeat: no-repeat*/
	/*background-size: cover*/
	/*background-position: center*/


.rules-confirmation
	background-color: #fff
	padding 30px 20px 20px
	margin-top: -30px
	font-size: 13px
	text-align: center
	box-shadow rgba(#000, 0.3) 0 3px 15px
	.sl-icon-quill-write
	.sl-icon-email-2
		line-height: 40px
		font-size: 40px
	.notifier.warning
		background-color: #FFECBA

.rules-confirmation__title
	margin-bottom: 10px
	font-size: 15px
	font-weight 600

.rules-confirmation__desc
	font-size: 13px
	text-align: justify
