.page404
	width: 100%
	height: 100%

.page404__part
	width: 50%
	height: 100%

.page404__part_left
	background-color: $header-bg-color
	absolute top 0 left 0
	color #fff

.page404__part_right
	background-color: $page-bg-color
	absolute top 0 right 0

.page404__error-num
	line-height: 200px
	margin-bottom: 40px
	font-size: 200px

.page404__logo
	width: 200px
	margin 0 auto 40px

.page404__title
	line-height: 40px
	font-size: 40px
	text-transform: uppercase
