body.s-landing
	overflow-y auto

body.s-landing
	overflow-x hidden



.landing__center
	width: 1024px
	margin 0 auto

.landing__even-section
	background-color: #232935
	//background-color: #022628
	//background-image: url(/data/img/landing-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-attachment fixed
	background-position: center
	position: relative
	.h_30
		color #B0C5D6
		font-weight: 300
	&:before
		content: ''
		display: block
		width: 100%
		height: 100%
		absolute top 0 left 0
		background: rgba(13, 27, 58, 0.45)
		z-index: 10
	.landing__center
		position: relative
		z-index: 20

.landing__even-section__in
	position: relative
	z-index: 20



.landing__header
	height: 38px
	line-height: 26px
	background-color: #fff
	border-bottom 1px solid rgba(32, 39, 70, 0.15)
	padding-top 12px
	fixed top 0 left 0 right 0
	z-index: 50

.landing__header__name
	float left
	font-size: 17px
	font-weight: bold

.landing__menu
	margin-left: 62px
	font-size: 0
	display-inline-block()

.landing__menu__item
	margin-left 20px
	cursor: pointer
	font-size: 14px
	font-weight: bold
	display-inline-block()
	&:first-child
		margin-left: 0
	&:hover
		color $color_orange

.landing__navig
	margin-right: 10px
	float right
	font-size: 0

.landing__navig__btn
	margin-left: 30px
	position: relative
	cursor: pointer
	font-size: 15px
	display-inline-block()
	no-select()



.landing__hero
	min-height: 130px
	padding-left: 140px
	position: relative

.landing__hero__logo
	width: 100px
	absolute top 0 left 0
	filter invert(100%)
	-webkit-filter invert(100%)

.landing__hero__title
	line-height: 35px
	font-size: 36px
	font-weight: 600
	color #fff

.landing__hero__sub-title
	line-height: 32px
	font-size: 20px
	color #fff

.landing__hero__btn
	line-height: 40px
	margin 0 10px
	padding 0 15px
	cursor: pointer
	font-size: 15px
	font-weight 600
	color #fff
	border-radius 2px
	display-inline-block()
	no-select()



// Map ------------------------------------------------------ /

.landing__map__wrapper
	height: 500px
	position: relative
	z-index: 10
	.leaflet-control-zoom
		background-color: $sidebar-bg-color
	.leaflet-control-zoom-in
	.leaflet-control-zoom-out
		filter invert(100%)
		-webkit-filter invert(100%)
		&:hover
			background-color: #fff !important

.landing__map
	height: 500px
	//absolute top 0 left 20px right 20px
	//border 1px solid $border-color
	overflow: hidden
	border-radius 3px



// Roles ------------------------------------------------------ /

.landing__users-by-roles__wrapper
	display: block

.landing__users-by-roles
	font-size: 0

.landing__users-by-roles__role__wrapper
	width: (100% / 7)
	display-inline-block()

.landing__users-by-roles__role
	padding 0 10px
	text-align: center

.landing__users-by-roles__role__bar__wrapper
	height 200px
	background-color: rgba(1, 12, 29, 0.46)
	position: relative
	overflow: hidden

.landing__users-by-roles__role__bar
	width: 100%
	background-color: $color_orange
	border-top 1px solid #000
	absolute bottom 0 left 0

.landing__users-by-roles__role__count
	margin 20px 0 10px
	font-size: 24px
	font-weight: 600
	color #fff

.landing__users-by-roles__role__title
	font-size: 14px
	color #8BA6BB



// Quotes ------------------------------------------------------ /

.landing__quotes
	font-size: 0

.landing__quotes__item__wrapper
	width: 33.33%
	display-inline-block()

.landing__quotes__item
	padding 0 20px

.landing__quotes__item__name
	margin-bottom: 5px
	font-size: 18px
	color #FDB700
	font-weight: 600
	&:hover
		text-decoration: underline

.landing__quotes__item__role
	margin-bottom: 13px
	font-size: 12px
	color #8BA6BB

.landing__quotes__item__quote
	background-color: #fff
	border-bottom 2px solid #000
	padding 10px 18px 10px 16px
	position: relative
	font-style italic
	font-size: 13px
	color #000
	border-radius 6px
	&:before
		content ''
		display: block
		width: 0
		height: 0
		border-left 10px solid #fff
		border-top: 10px solid transparent
		border-bottom: 10px solid transparent
		absolute top -6px left 0



// Footer ------------------------------------------------------ /

.landing__footer
	text-align: center

.landing__footer__developers
	font-size: 14px

.landing__footer__navig
	margin-top: 25px
	font-size: 14px
	.hsl
		padding 0 15px
		color #D8DDE6
