// https://github.com/720kb/angular-tooltips

._720kb-tooltip
	max-width: 300px
	background: #14171D
	z-index: -1 !important

._720kb-tooltip-open
	z-index: 100000 !important

._720kb-tooltip-small
	padding 3px 8px !important
	font-size: 11px !important

._720kb-tooltip-caret
	&:before
		border-color #14171D
