.atwho-view-user-item
	line-height: 15px
	padding 0 10px 0 40px
	position: relative

.atwho-view-user-item__avatar
	width: 30px
	height: 30px
	absolute top 0 left 0
	img
		width: 100%

.atwho-view-user-item__name
	font-weight 600
	font-size: 12px

.atwho-view-user-item__role
	font-size: 11px
	color $light-text-color

.atwho-inserted
	position: relative
	cursor: default
	font-weight: 600
	color $color_blue
